<XDialog Header='Edit Form of Appraise Result' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, appraiseResultEditUI)' 
    #appraiseResultEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- TargetSetting -->
      <div class='form-group'>
        <guide (onClick)='onGuid("TargetSetting_Id")'></guide>
        <label for='targetSetting' class='col-form-label'>Target Setting : </label>
        <span class='help-block col-form-label' *ngIf='!targetSetting.valid && targetSetting.touched && !targetSetting.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #targetSetting='ngModel' 
                    #targetSettingCombo='kendoDropDownList' 
                    name='targetSetting' 
                    title='Target Setting'
                    class='form-control'
                    [ngClass]="{ 'error' : !targetSetting.valid && targetSetting.touched }" 
                    [data]='targetSettingComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='targetSettingComponent.filterable'
                    (filterChange)='targetSettingComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.targetSetting"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='targetSettingComponent.addable'>
                      <button class='btn btn-primary' (click)='targetSettingComponent.onAdd(targetSettingCombo, targetSettingEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- AppraiseType -->
      <div class='form-group'>
        <guide (onClick)='onGuid("AppraiseType_Id")'></guide>
        <label for='appraiseType' class='col-form-label'>Appraise Type : </label>
        <span class='help-block col-form-label' *ngIf='!appraiseType.valid && appraiseType.touched && !appraiseType.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #appraiseType='ngModel' 
                    #appraiseTypeCombo='kendoDropDownList' 
                    name='appraiseType' 
                    title='Appraise Type'
                    class='form-control'
                    [ngClass]="{ 'error' : !appraiseType.valid && appraiseType.touched }" 
                    [data]='appraiseTypeComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='appraiseTypeComponent.filterable'
                    (filterChange)='appraiseTypeComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.appraiseType"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='appraiseTypeComponent.addable'>
                      <button class='btn btn-primary' (click)='appraiseTypeComponent.onAdd(appraiseTypeCombo, appraiseTypeEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- FunctionalScore -->
      <div class='form-group'>
        <guide (onClick)='onGuid("FunctionalScore")'></guide>
        <label for='functionalScore' class='col-form-label'>Functional Score : </label>
        <span class='help-block col-form-label' *ngIf='!functionalScore.valid && functionalScore.touched && !functionalScore.disabled'>( Value is not Valid! )</span>
        
        <kendo-numerictextbox #functionalScore='ngModel' 
            name='functionalScore' 
            title='Functional Score' 
            placeholder='Functional Score'
            class='form-control'
            [ngClass]="{ 'error' : !functionalScore.valid && functionalScore.touched }" 
            [value]='currentInstance.functionalScore' 
            [min]='0' [max]='180' 
            [(ngModel)]='currentInstance.functionalScore'
            [format]="'n2'" 
            [decimals]='2'
            [spinners]='false'
            [disabled]='IsLocked'
             required ></kendo-numerictextbox>
      </div>
			<!-- BehavioralScore -->
      <div class='form-group'>
        <guide (onClick)='onGuid("BehavioralScore")'></guide>
        <label for='behavioralScore' class='col-form-label'>Behavioral Score : </label>
        <span class='help-block col-form-label' *ngIf='!behavioralScore.valid && behavioralScore.touched && !behavioralScore.disabled'>( Value is not Valid! )</span>
        
        <kendo-numerictextbox #behavioralScore='ngModel' 
            name='behavioralScore' 
            title='Behavioral Score' 
            placeholder='Behavioral Score'
            class='form-control'
            [ngClass]="{ 'error' : !behavioralScore.valid && behavioralScore.touched }" 
            [value]='currentInstance.behavioralScore' 
            [min]='0' [max]='200' 
            [(ngModel)]='currentInstance.behavioralScore'
            [format]="'n2'" 
            [decimals]='2'
            [spinners]='false'
            [disabled]='IsLocked'
             required ></kendo-numerictextbox>
      </div>
			<!-- TotalScore -->
      <div class='form-group'>
        <guide (onClick)='onGuid("TotalScore")'></guide>
        <label for='totalScore' class='col-form-label'>Total Score : </label>
        <span class='help-block col-form-label' *ngIf='!totalScore.valid && totalScore.touched && !totalScore.disabled'>( Value is not Valid! )</span>
        
        <kendo-numerictextbox #totalScore='ngModel' 
            name='totalScore' 
            title='Total Score' 
            placeholder='Total Score'
            class='form-control'
            [ngClass]="{ 'error' : !totalScore.valid && totalScore.touched }" 
            [value]='currentInstance.totalScore' 
            [min]='0' [max]='200' 
            [(ngModel)]='currentInstance.totalScore'
            [format]="'n2'" 
            [decimals]='2'
            [spinners]='false'
            [disabled]='IsLocked'
             required ></kendo-numerictextbox>
      </div>
			
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!appraiseResultEditUI.valid || IsLocked' >Save & Close</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!appraiseResultEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, appraiseResultEditUI, true)'>Save</button>
      <button id='cancel-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancel</button>
    </div>
  </form>
</XDialog>

<pms-targetSetting-edit #targetSettingEditUI 
    (onClosed)='targetSettingComponent.onClosed($event)'>
</pms-targetSetting-edit>
<base-pms-appraiseType-edit #appraiseTypeEditUI 
    (onClosed)='appraiseTypeComponent.onClosed($event)'>
</base-pms-appraiseType-edit>
