<XDialog Header='Edit Form of TargetSettingPhase' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, targetSettingPhaseEditUI)' 
    #targetSettingPhaseEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- Year -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Year_Id")'></guide>
        <label for='year' class='col-form-label'>Year_Id : </label>
        <span class='help-block col-form-label' *ngIf='!year.valid && year.touched && !year.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #year='ngModel' 
                    #yearCombo='kendoDropDownList' 
                    name='year' 
                    title='Year_Id'
                    class='form-control'
                    [ngClass]="{ 'error' : !year.valid && year.touched }" 
                    [data]='yearComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='yearComponent.filterable'
                    (filterChange)='yearComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.year"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='yearComponent.addable'>
                      <button class='btn btn-primary' (click)='yearComponent.onAdd(yearCombo, yearEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- TargetSettingType -->
      <div class='form-group'>
        <guide (onClick)='onGuid("TargetSettingType_Id")'></guide>
        <label for='targetSettingType' class='col-form-label'>TargetSettingType_Id : </label>
        <span class='help-block col-form-label' *ngIf='!targetSettingType.valid && targetSettingType.touched && !targetSettingType.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #targetSettingType='ngModel' 
                    #targetSettingTypeCombo='kendoDropDownList' 
                    name='targetSettingType' 
                    title='TargetSettingType_Id'
                    class='form-control'
                    [ngClass]="{ 'error' : !targetSettingType.valid && targetSettingType.touched }" 
                    [data]='targetSettingTypeComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='targetSettingTypeComponent.filterable'
                    (filterChange)='targetSettingTypeComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.targetSettingType"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='targetSettingTypeComponent.addable'>
                      <button class='btn btn-primary' (click)='targetSettingTypeComponent.onAdd(targetSettingTypeCombo, targetSettingTypeEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- TargetSettingMode -->
      <div class='form-group'>
        <guide (onClick)='onGuid("TargetSettingMode_Id")'></guide>
        <label for='targetSettingMode' class='col-form-label'>TargetSettingMode_Id : </label>
        <span class='help-block col-form-label' *ngIf='!targetSettingMode.valid && targetSettingMode.touched && !targetSettingMode.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #targetSettingMode='ngModel' 
                    #targetSettingModeCombo='kendoDropDownList' 
                    name='targetSettingMode' 
                    title='TargetSettingMode_Id'
                    class='form-control'
                    [ngClass]="{ 'error' : !targetSettingMode.valid && targetSettingMode.touched }" 
                    [data]='targetSettingModeComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='targetSettingModeComponent.filterable'
                    (filterChange)='targetSettingModeComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.targetSettingMode"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='targetSettingModeComponent.addable'>
                      <button class='btn btn-primary' (click)='targetSettingModeComponent.onAdd(targetSettingModeCombo, targetSettingModeEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!targetSettingPhaseEditUI.valid || IsLocked' >Save & Close</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!targetSettingPhaseEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, targetSettingPhaseEditUI, true)'>Save</button>
      <button id='cancel-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancel</button>
    </div>
  </form>
</XDialog>

<base-year-edit #yearEditUI 
    (onClosed)='yearComponent.onClosed($event)'>
</base-year-edit>
<base-pms-targetSettingType-edit #targetSettingTypeEditUI 
    (onClosed)='targetSettingTypeComponent.onClosed($event)'>
</base-pms-targetSettingType-edit>
<base-pms-targetSettingMode-edit #targetSettingModeEditUI 
    (onClosed)='targetSettingModeComponent.onClosed($event)'>
</base-pms-targetSettingMode-edit>

