<XDialog Header='Edit Form of Qualitative Appraise' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, qualitativeAppraiseEditUI)' 
    #qualitativeAppraiseEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- QualitativeKPI -->
      <div class='form-group'>
        <guide (onClick)='onGuid("QualitativeKPI_Id")'></guide>
        <label for='qualitativeKPI' class='col-form-label'>Qualitative KPI : </label>
        <span class='help-block col-form-label' *ngIf='!qualitativeKPI.valid && qualitativeKPI.touched && !qualitativeKPI.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #qualitativeKPI='ngModel' 
                    #qualitativeKPICombo='kendoDropDownList' 
                    name='qualitativeKPI' 
                    title='Qualitative KPI'
                    class='form-control'
                    [ngClass]="{ 'error' : !qualitativeKPI.valid && qualitativeKPI.touched }" 
                    [data]='qualitativeKPIComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='qualitativeKPIComponent.filterable'
                    (filterChange)='qualitativeKPIComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.qualitativeKPI"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='qualitativeKPIComponent.addable'>
                      <button class='btn btn-primary' (click)='qualitativeKPIComponent.onAdd(qualitativeKPICombo, qualitativeKPIEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- Date -->
			<!-- Appraiser -->
			<!-- AppraiseType -->
      <div class='form-group' *ngIf='false'>
        <guide (onClick)='onGuid("AppraiseType_Id")'></guide>
        <label for='appraiseType' class='col-form-label'>Appraise Type : </label>
        <span class='help-block col-form-label' *ngIf='!appraiseType.valid && appraiseType.touched && !appraiseType.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #appraiseType='ngModel' 
                    #appraiseTypeCombo='kendoDropDownList' 
                    name='appraiseType' 
                    title='Appraise Type'
                    class='form-control'
                    [ngClass]="{ 'error' : !appraiseType.valid && appraiseType.touched }" 
                    [data]='appraiseTypeComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='appraiseTypeComponent.filterable'
                    (filterChange)='appraiseTypeComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.appraiseType"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='appraiseTypeComponent.addable'>
                      <button class='btn btn-primary' (click)='appraiseTypeComponent.onAdd(appraiseTypeCombo, appraiseTypeEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- AppraiseTime -->
      <div class='form-group'>
        <guide (onClick)='onGuid("AppraiseTime_Id")'></guide>
        <label for='appraiseTime' class='col-form-label'>Appraise Time : </label>
        <span class='help-block col-form-label' *ngIf='!appraiseTime.valid && appraiseTime.touched && !appraiseTime.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #appraiseTime='ngModel' 
                    #appraiseTimeCombo='kendoDropDownList' 
                    name='appraiseTime' 
                    title='Appraise Time'
                    class='form-control'
                    [ngClass]="{ 'error' : !appraiseTime.valid && appraiseTime.touched }" 
                    [data]='appraiseTimeComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='appraiseTimeComponent.filterable'
                    (filterChange)='appraiseTimeComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.appraiseTime"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='appraiseTimeComponent.addable'>
                      <button class='btn btn-primary' (click)='appraiseTimeComponent.onAdd(appraiseTimeCombo, appraiseTimeEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- Actual -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Actual")'></guide>
        <label for='actual' class='col-form-label'>Actual : </label>
        <span class='help-block col-form-label' *ngIf='!actual.valid && actual.touched && !actual.disabled'>( Value is not Valid! )</span>
        
        <kendo-numerictextbox #actual='ngModel' 
            name='actual' 
            title='Actual' 
            placeholder='Actual'
            class='form-control'
            [ngClass]="{ 'error' : !actual.valid && actual.touched }" 
            [value]='currentInstance.actual' 
            [min]='-2147483648' [max]='2147483647' 
            [(ngModel)]='currentInstance.actual'
            [format]="'n0'" 
            [decimals]='0'
            [spinners]='false'
            [disabled]='IsLocked'
             required ></kendo-numerictextbox>
      </div>
			<!-- Score -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Score")'></guide>
        <label for='score' class='col-form-label'>Score : (between 0 and 120)</label>
        <span class='help-block col-form-label' *ngIf='!score.valid && score.touched && !score.disabled'>( Value is not Valid! )</span>
        
        <kendo-numerictextbox #score='ngModel' 
            name='score' 
            title='Score' 
            placeholder='Score'
            class='form-control'
            [ngClass]="{ 'error' : !score.valid && score.touched }" 
            [value]='currentInstance.score' 
            [min]='0' [max]='120' 
            [(ngModel)]='currentInstance.score'
            [format]="'n2'" 
            [decimals]='2'
            [spinners]='false'
            [disabled]='IsLocked'
             required ></kendo-numerictextbox>
      </div>
			<!-- Comment -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Comment")'></guide>
        <label for='comment' class='col-form-label'>Comment : </label>
        <span class='help-block col-form-label' *ngIf='!comment.valid && comment.touched && !comment.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Comment' 
                    [ngClass]="{ 'error' : !comment.valid && comment.touched }" 
                    class='form-control ' 
                    #comment='ngModel' 
                    name='comment' 
                    placeholder='... Comment' 
                    [(ngModel)]='currentInstance.comment' 
                    [disabled]='IsLocked'
                    maxlength='800'  />
      </div>
			
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!qualitativeAppraiseEditUI.valid || IsLocked' >Save & Close</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!qualitativeAppraiseEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, qualitativeAppraiseEditUI, true)'>Save</button>
      <button id='cancle-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancle</button>
    </div>
  </form>
</XDialog>

<pms-qualitativeKPI-edit #qualitativeKPIEditUI 
    (onClosed)='qualitativeKPIComponent.onClosed($event)'>
</pms-qualitativeKPI-edit>
<hr-employee-edit #appraiserEditUI 
    (onClosed)='appraiserComponent.onClosed($event)'>
</hr-employee-edit>
<base-pms-appraiseType-edit #appraiseTypeEditUI 
    (onClosed)='appraiseTypeComponent.onClosed($event)'>
</base-pms-appraiseType-edit>
<base-pms-appraiseTime-edit #appraiseTimeEditUI 
    (onClosed)='appraiseTimeComponent.onClosed($event)'>
</base-pms-appraiseTime-edit>