<XDialog Header='Edit Form of Objective Weight Non Operational' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, objectiveWeightNonOperationalEditUI)' 
    #objectiveWeightNonOperationalEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- Level -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Level_Id")'></guide>
        <label for='level' class='col-form-label'>Level : </label>
        <span class='help-block col-form-label' *ngIf='!level.valid && level.touched && !level.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #level='ngModel' 
                    #levelCombo='kendoDropDownList' 
                    name='level' 
                    title='Level'
                    class='form-control'
                    [ngClass]="{ 'error' : !level.valid && level.touched }" 
                    [data]='levelComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='levelComponent.filterable'
                    (filterChange)='levelComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.level"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='levelComponent.addable'>
                      <button class='btn btn-primary' (click)='levelComponent.onAdd(levelCombo, levelEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- FunctionalWeight -->
      <div class='form-group'>
        <guide (onClick)='onGuid("FunctionalWeight")'></guide>
        <label for='functionalWeight' class='col-form-label'>Functional Weight : </label>
        <span class='help-block col-form-label' *ngIf='!functionalWeight.valid && functionalWeight.touched && !functionalWeight.disabled'>( Value is not Valid! )</span>
        
        <kendo-numerictextbox #functionalWeight='ngModel' 
            name='functionalWeight' 
            title='Functional Weight' 
            placeholder='Functional Weight'
            class='form-control'
            [ngClass]="{ 'error' : !functionalWeight.valid && functionalWeight.touched }" 
            [value]='currentInstance.functionalWeight' 
            [min]='-2147483648' [max]='2147483647' 
            [(ngModel)]='currentInstance.functionalWeight'
            [format]="'n0'" 
            [decimals]='0'
            [spinners]='false'
            [disabled]='IsLocked'
             required ></kendo-numerictextbox>
      </div>
			<!-- BehavioralWeight -->
      <div class='form-group'>
        <guide (onClick)='onGuid("BehavioralWeight")'></guide>
        <label for='behavioralWeight' class='col-form-label'>Behavioral Weight : </label>
        <span class='help-block col-form-label' *ngIf='!behavioralWeight.valid && behavioralWeight.touched && !behavioralWeight.disabled'>( Value is not Valid! )</span>
        
        <kendo-numerictextbox #behavioralWeight='ngModel' 
            name='behavioralWeight' 
            title='Behavioral Weight' 
            placeholder='Behavioral Weight'
            class='form-control'
            [ngClass]="{ 'error' : !behavioralWeight.valid && behavioralWeight.touched }" 
            [value]='currentInstance.behavioralWeight' 
            [min]='-2147483648' [max]='2147483647' 
            [(ngModel)]='currentInstance.behavioralWeight'
            [format]="'n0'" 
            [decimals]='0'
            [spinners]='false'
            [disabled]='IsLocked'
             required ></kendo-numerictextbox>
      </div>
			
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!objectiveWeightNonOperationalEditUI.valid || IsLocked' >Save & Close</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!objectiveWeightNonOperationalEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, objectiveWeightNonOperationalEditUI, true)'>Save</button>
      <button id='cancel-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancel</button>
    </div>
  </form>
</XDialog>

<hr-level-edit #levelEditUI 
    (onClosed)='levelComponent.onClosed($event)'>
</hr-level-edit>