<XDialog Header='Entity Comparator' [IsShown]='IsShown' (OnClosed)='onClose()' [ModalType]='1'>
    <div class='form-margin'>
        <fieldset class='border'>
            <legend>Entity Comprator :</legend>
            <div class="row">
                <div class="col">
                    {{ CurrentLog.descriptor }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p>Old Value </p>
                    <hr>
                    <ngx-json-viewer [json]='oldValue'></ngx-json-viewer>
                </div>
                <div class="col">
                    <p>New Value</p>
                    <hr>
                    <ngx-json-viewer [json]='newValue'></ngx-json-viewer>
                </div>
            </div>
        </fieldset>
    </div>
</XDialog>