<XDialog Header='Edit Form of Individual Development Plan' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, individualDevelopmentPlanEditUI)' 
    #individualDevelopmentPlanEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- Vision -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Vision_Id")'></guide>
        <label for='vision' class='col-form-label'>Vision : </label>
        <span class='help-block col-form-label' *ngIf='!vision.valid && vision.touched && !vision.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #vision='ngModel' 
                    #visionCombo='kendoDropDownList' 
                    name='vision' 
                    title='Vision'
                    class='form-control'
                    [ngClass]="{ 'error' : !vision.valid && vision.touched }" 
                    [data]='visionComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='visionComponent.filterable'
                    (filterChange)='visionComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.vision"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='visionComponent.addable'>
                      <button class='btn btn-primary' (click)='visionComponent.onAdd(visionCombo, visionEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- Priority -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Priority_Id")'></guide>
        <label for='priority' class='col-form-label'>Priority : </label>
        <span class='help-block col-form-label' *ngIf='!priority.valid && priority.touched && !priority.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #priority='ngModel' 
                    #priorityCombo='kendoDropDownList' 
                    name='priority' 
                    title='Priority'
                    class='form-control'
                    [ngClass]="{ 'error' : !priority.valid && priority.touched }" 
                    [data]='priorityComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='priorityComponent.filterable'
                    (filterChange)='priorityComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.priority"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='priorityComponent.addable'>
                      <button class='btn btn-primary' (click)='priorityComponent.onAdd(priorityCombo, priorityEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- Subject -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Subject_Id")'></guide>
        <label for='subject' class='col-form-label'>Subject : </label>
        <span class='help-block col-form-label' *ngIf='!subject.valid && subject.touched && !subject.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #subject='ngModel' 
                    #subjectCombo='kendoDropDownList' 
                    name='subject' 
                    title='Subject'
                    class='form-control'
                    [ngClass]="{ 'error' : !subject.valid && subject.touched }" 
                    [data]='subjectComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='subjectComponent.filterable'
                    (filterChange)='subjectComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.subject"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='subjectComponent.addable'>
                      <button class='btn btn-primary' (click)='subjectComponent.onAdd(subjectCombo, subjectEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- Title -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Title")'></guide>
        <label for='title' class='col-form-label'>Title : </label>
        <span class='help-block col-form-label' *ngIf='!title.valid && title.touched && !title.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Title' 
                    [ngClass]="{ 'error' : !title.valid && title.touched }" 
                    class='form-control ' 
                    #title='ngModel' 
                    name='title' 
                    placeholder='... Title' 
                    [(ngModel)]='currentInstance.title' 
                    [disabled]='IsLocked'
                    maxlength='800'  required  />
      </div>
			<!-- CurrentSituation -->
      <div class='form-group'>
        <guide (onClick)='onGuid("CurrentSituation_Id")'></guide>
        <label for='currentSituation' class='col-form-label'>Current Situation : </label>
        <span class='help-block col-form-label' *ngIf='!currentSituation.valid && currentSituation.touched && !currentSituation.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #currentSituation='ngModel' 
                    #currentSituationCombo='kendoDropDownList' 
                    name='currentSituation' 
                    title='Current Situation'
                    class='form-control'
                    [ngClass]="{ 'error' : !currentSituation.valid && currentSituation.touched }" 
                    [data]='currentSituationComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='currentSituationComponent.filterable'
                    (filterChange)='currentSituationComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.currentSituation"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='currentSituationComponent.addable'>
                      <button class='btn btn-primary' (click)='currentSituationComponent.onAdd(currentSituationCombo, currentSituationEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- DesirableSituation -->
      <div class='form-group'>
        <guide (onClick)='onGuid("DesirableSituation_Id")'></guide>
        <label for='desirableSituation' class='col-form-label'>Desirable Situation : </label>
        <span class='help-block col-form-label' *ngIf='!desirableSituation.valid && desirableSituation.touched && !desirableSituation.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #desirableSituation='ngModel' 
                    #desirableSituationCombo='kendoDropDownList' 
                    name='desirableSituation' 
                    title='Desirable Situation'
                    class='form-control'
                    [ngClass]="{ 'error' : !desirableSituation.valid && desirableSituation.touched }" 
                    [data]='desirableSituationComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='desirableSituationComponent.filterable'
                    (filterChange)='desirableSituationComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.desirableSituation"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='desirableSituationComponent.addable'>
                      <button class='btn btn-primary' (click)='desirableSituationComponent.onAdd(desirableSituationCombo, desirableSituationEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- FromDate -->
      <div class='form-group'>
        <guide (onClick)='onGuid("FromDate")'></guide>
        <label for='fromDate' class='col-form-label'>From Date : </label>
        <span class='help-block col-form-label' *ngIf='!fromDate.valid && fromDate.touched && !fromDate.disabled'>( Value is not Valid! )</span>
        <input type='date' 
                    title=From Date 
                    [ngClass]="{ 'error' : !fromDate.valid && fromDate.touched }" 
                    class='form-control' 
                    #fromDate='ngModel' 
                    name='fromDate'
                    [ngModel]="currentInstance.fromDate | date:'yyyy-MM-dd'"
                    (ngModelChange)='currentInstance.fromDate = $event'
                    [disabled]='IsLocked'
                     required >
      </div>
			<!-- ToDate -->
      <div class='form-group'>
        <guide (onClick)='onGuid("ToDate")'></guide>
        <label for='toDate' class='col-form-label'>To Date : </label>
        <span class='help-block col-form-label' *ngIf='!toDate.valid && toDate.touched && !toDate.disabled'>( Value is not Valid! )</span>
        <input type='date' 
                    title=To Date 
                    [ngClass]="{ 'error' : !toDate.valid && toDate.touched }" 
                    class='form-control' 
                    #toDate='ngModel' 
                    name='toDate'
                    [ngModel]="currentInstance.toDate | date:'yyyy-MM-dd'"
                    (ngModelChange)='currentInstance.toDate = $event'
                    [disabled]='IsLocked'
                     required >
      </div>
			<!-- EffectiveNessIndex -->
      <div class='form-group'>
        <guide (onClick)='onGuid("EffectiveNessIndex")'></guide>
        <label for='effectiveNessIndex' class='col-form-label'>Effective Ness Index : </label>
        <span class='help-block col-form-label' *ngIf='!effectiveNessIndex.valid && effectiveNessIndex.touched && !effectiveNessIndex.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Effective Ness Index' 
                    [ngClass]="{ 'error' : !effectiveNessIndex.valid && effectiveNessIndex.touched }" 
                    class='form-control ' 
                    #effectiveNessIndex='ngModel' 
                    name='effectiveNessIndex' 
                    placeholder='... Effective Ness Index' 
                    [(ngModel)]='currentInstance.effectiveNessIndex' 
                    [disabled]='IsLocked'
                    maxlength='200'  required  />
      </div>
			
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!individualDevelopmentPlanEditUI.valid || IsLocked' >Ok, Save it</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!individualDevelopmentPlanEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, individualDevelopmentPlanEditUI, true)'>Save and Continue</button>
      <button id='cancle-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancle</button>
    </div>
  </form>
</XDialog>

<pms-vision-edit #visionEditUI 
    (onClosed)='visionComponent.onClosed($event)'>
</pms-vision-edit>
<base-pms-developmentPlanPriority-edit #priorityEditUI 
    (onClosed)='priorityComponent.onClosed($event)'>
</base-pms-developmentPlanPriority-edit>
<base-pms-subject-edit #subjectEditUI 
    (onClosed)='subjectComponent.onClosed($event)'>
</base-pms-subject-edit>
<base-pms-currentSituation-edit #currentSituationEditUI 
    (onClosed)='currentSituationComponent.onClosed($event)'>
</base-pms-currentSituation-edit>
<base-pms-desirableSituation-edit #desirableSituationEditUI 
    (onClosed)='desirableSituationComponent.onClosed($event)'>
</base-pms-desirableSituation-edit>