<XDialog Header='Edit Form of Config Qualitative Objective' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, configQualitativeObjectiveEditUI)' 
    #configQualitativeObjectiveEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- TargetSettingConfig -->
      <div class='form-group'>
        <guide (onClick)='onGuid("TargetSettingConfig_Id")'></guide>
        <label for='configTargetSetting' class='col-form-label'>Target Setting Config : </label>
        <span class='help-block col-form-label' *ngIf='!configTargetSetting.valid && configTargetSetting.touched && !configTargetSetting.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #configTargetSetting='ngModel' 
                    #targetSettingConfigCombo='kendoDropDownList' 
                    name='configTargetSetting' 
                    title='Target Setting Config'
                    class='form-control'
                    [ngClass]="{ 'error' : !configTargetSetting.valid && configTargetSetting.touched }" 
                    [data]='targetSettingConfigComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='targetSettingConfigComponent.filterable'
                    (filterChange)='targetSettingConfigComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.configTargetSetting"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='targetSettingConfigComponent.addable'>
                      <button class='btn btn-primary' (click)='targetSettingConfigComponent.onAdd(targetSettingConfigCombo, targetSettingConfigEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- Title -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Title")'></guide>
        <label for='title' class='col-form-label'>Title : </label>
        <span class='help-block col-form-label' *ngIf='!title.valid && title.touched && !title.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Title' 
                    [ngClass]="{ 'error' : !title.valid && title.touched }" 
                    class='form-control ' 
                    #title='ngModel' 
                    name='title' 
                    placeholder='... Title' 
                    [(ngModel)]='currentInstance.title' 
                    [disabled]='IsLocked'
                    maxlength='400'  required  />
      </div>
			<!-- Weight -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Weight")'></guide>
        <label for='weight' class='col-form-label'>Weight : </label>
        <span class='help-block col-form-label' *ngIf='!weight.valid && weight.touched && !weight.disabled'>( Value is not Valid! )</span>
        
        <kendo-numerictextbox #weight='ngModel' 
            name='weight' 
            title='Weight' 
            placeholder='Weight'
            class='form-control'
            [ngClass]="{ 'error' : !weight.valid && weight.touched }" 
            [value]='currentInstance.weight' 
            [min]='-2147483648' [max]='2147483647' 
            [(ngModel)]='currentInstance.weight'
            [format]="'n0'" 
            [decimals]='0'
            [spinners]='false'
            [disabled]='IsLocked'
             required ></kendo-numerictextbox>
      </div>
			<!-- TotalKPIWeight -->
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!configQualitativeObjectiveEditUI.valid || IsLocked' >Ok, Save it</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!configQualitativeObjectiveEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, configQualitativeObjectiveEditUI, true)'>Save and Continue</button>
      <button id='cancle-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancle</button>
    </div>
  </form>
</XDialog>

<pms-configTargetSetting-edit #targetSettingConfigEditUI 
    (onClosed)='targetSettingConfigComponent.onClosed($event)'>
</pms-configTargetSetting-edit>