<XDialog Header='Search form of Behavioral Appraise' 
  [IsShown]='IsShown'
  (OnClosed)='cancelButton_Clicked()'>
  <div>
    <!--
          <div class='form-group row'>
            <label for='behavioralKPI' class='col-sm-3 col-form-label'>Behavioral KPI : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #behavioralKPI='ngModel' 
                    #behavioralKPICombo='kendoDropDownList' 
                    name='behavioralKPI' 
                    title='Behavioral KPI'
                    class='form-control'
                    [ngClass]="{ 'error' : !behavioralKPI.valid && behavioralKPI.touched }" 
                    [data]='behavioralKPIComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='behavioralKPIComponent.filterable'
                    (filterChange)='behavioralKPIComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.behavioralKPI"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='behavioralKPIComponent.addable'>
                      <button class='btn btn-primary' (click)='behavioralKPIComponent.onAdd(behavioralKPICombo, behavioralKPIEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='appraiseType' class='col-sm-3 col-form-label'>Appraise Type : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #appraiseType='ngModel' 
                    #appraiseTypeCombo='kendoDropDownList' 
                    name='appraiseType' 
                    title='Appraise Type'
                    class='form-control'
                    [ngClass]="{ 'error' : !appraiseType.valid && appraiseType.touched }" 
                    [data]='appraiseTypeComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='appraiseTypeComponent.filterable'
                    (filterChange)='appraiseTypeComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.appraiseType"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='appraiseTypeComponent.addable'>
                      <button class='btn btn-primary' (click)='appraiseTypeComponent.onAdd(appraiseTypeCombo, appraiseTypeEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='acceptedLevel' class='col-sm-3 col-form-label'>Accepted Level : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #acceptedLevel='ngModel' 
                    #acceptedLevelCombo='kendoDropDownList' 
                    name='acceptedLevel' 
                    title='Accepted Level'
                    class='form-control'
                    [ngClass]="{ 'error' : !acceptedLevel.valid && acceptedLevel.touched }" 
                    [data]='acceptedLevelComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='acceptedLevelComponent.filterable'
                    (filterChange)='acceptedLevelComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.acceptedLevel"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='acceptedLevelComponent.addable'>
                      <button class='btn btn-primary' (click)='acceptedLevelComponent.onAdd(acceptedLevelCombo, acceptedLevelEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='date' class='col-sm-3 col-form-label'>Date : </label>
            <div class='col-sm-9'>
              <input class='form-control' #date='ngModel' id='date' name='date'
										 title='Date'
										 autocomplete='off'
										 placeholder='Date'
										[(ngModel)]='behavioralAppraise.date'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='appraiser' class='col-sm-3 col-form-label'>Appraiser : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #appraiser='ngModel' 
                    #appraiserCombo='kendoDropDownList' 
                    name='appraiser' 
                    title='Appraiser'
                    class='form-control'
                    [ngClass]="{ 'error' : !appraiser.valid && appraiser.touched }" 
                    [data]='appraiserComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='appraiserComponent.filterable'
                    (filterChange)='appraiserComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.appraiser"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='appraiserComponent.addable'>
                      <button class='btn btn-primary' (click)='appraiserComponent.onAdd(appraiserCombo, appraiserEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='score' class='col-sm-3 col-form-label'>Score : </label>
            <div class='col-sm-9'>
              <input class='form-control' #score='ngModel' id='score' name='score'
										 title='Score'
										 autocomplete='off'
										 placeholder='Score'
										[(ngModel)]='behavioralAppraise.score'
										 type='number'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='comment' class='col-sm-3 col-form-label'>Comment : </label>
            <div class='col-sm-9'>
              <input class='form-control' #comment='ngModel' id='comment' name='comment'
										 title='Comment'
										 autocomplete='off'
										 placeholder='Comment'
										[(ngModel)]='behavioralAppraise.comment'
										 type='text'
										 maxlength='400'
										 />
            </div>
          </div>-->
  </div>
  <div class='modal-footer'>
    <button type='button' class='btn btn-secondary' (click)='cancelButton_Clicked()'>Cancel</button>
    <button type='button' class='btn btn-primary' (click)='seekButton_Clicked()'>Search</button>
  </div>
</XDialog>