<XDialog Header='Edit Form of Appraisal Approver Config' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, appraisalApproverConfigEditUI)' 
    #appraisalApproverConfigEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- PositionCategory -->
      <div class='form-group'>
        <guide (onClick)='onGuid("PositionCategory_Id")'></guide>
        <label for='positionCategory' class='col-form-label'>Department Category : </label>
        <span class='help-block col-form-label' *ngIf='!positionCategory.valid && positionCategory.touched && !positionCategory.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #positionCategory='ngModel' 
                    #positionCategoryCombo='kendoDropDownList' 
                    name='positionCategory' 
                    title='Department Category'
                    class='form-control'
                    [ngClass]="{ 'error' : !positionCategory.valid && positionCategory.touched }" 
                    [data]='positionCategoryComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='positionCategoryComponent.filterable'
                    (filterChange)='positionCategoryComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.positionCategory"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='positionCategoryComponent.addable'>
                      <button class='btn btn-primary' (click)='positionCategoryComponent.onAdd(positionCategoryCombo, positionCategoryEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- ApproverType -->
      <div class='form-group'>
        <guide (onClick)='onGuid("ApproverType_Id")'></guide>
        <label for='approverType' class='col-form-label'>Approver Type : </label>
        <span class='help-block col-form-label' *ngIf='!approverType.valid && approverType.touched && !approverType.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #approverType='ngModel' 
                    #approverTypeCombo='kendoDropDownList' 
                    name='approverType' 
                    title='Approver Type'
                    class='form-control'
                    [ngClass]="{ 'error' : !approverType.valid && approverType.touched }" 
                    [data]='approverTypeComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='approverTypeComponent.filterable'
                    (filterChange)='approverTypeComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.approverType"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='approverTypeComponent.addable'>
                      <button class='btn btn-primary' (click)='approverTypeComponent.onAdd(approverTypeCombo, approverTypeEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!appraisalApproverConfigEditUI.valid || IsLocked' >Save & Close</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!appraisalApproverConfigEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, appraisalApproverConfigEditUI, true)'>Save</button>
      <button id='cancel-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancel</button>
    </div>
  </form>
</XDialog>

<base-hr-positionCategory-edit #positionCategoryEditUI 
    (onClosed)='positionCategoryComponent.onClosed($event)'>
</base-hr-positionCategory-edit>
<base-pms-approverType-edit #approverTypeEditUI 
    (onClosed)='approverTypeComponent.onClosed($event)'>
</base-pms-approverType-edit>