<XDialog Header='Edit Form of Target Setting' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, targetSettingEditUI)' 
    #targetSettingEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- Employee -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Employee_Id")'></guide>
        <label for='employee' class='col-form-label'>Employee : </label>
        <span class='help-block col-form-label' *ngIf='!employee.valid && employee.touched && !employee.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #employee='ngModel' 
                    #employeeCombo='kendoDropDownList' 
                    name='employee' 
                    title='Employee'
                    class='form-control'
                    [ngClass]="{ 'error' : !employee.valid && employee.touched }" 
                    [data]='employeeComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='employeeComponent.filterable'
                    (filterChange)='employeeComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.employee"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='employeeComponent.addable'>
                      <button class='btn btn-primary' (click)='employeeComponent.onAdd(employeeCombo, employeeEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- Position -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Position_Id")'></guide>
        <label for='position' class='col-form-label'>Position : </label>
        <span class='help-block col-form-label' *ngIf='!position.valid && position.touched && !position.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #position='ngModel' 
                    #positionCombo='kendoDropDownList' 
                    name='position' 
                    title='Position'
                    class='form-control'
                    [ngClass]="{ 'error' : !position.valid && position.touched }" 
                    [data]='positionComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='positionComponent.filterable'
                    (filterChange)='positionComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.position"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='positionComponent.addable'>
                      <button class='btn btn-primary' (click)='positionComponent.onAdd(positionCombo, positionEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>

      <!-- TargetSettingType -->
      <div class='form-group'>
        <guide (onClick)='onGuid("TargetSettingType_Id")'></guide>
        <label for='targetSettingType' class='col-form-label'>TargetSettingType : </label>
        <span class='help-block col-form-label' *ngIf='!targetSettingType.valid && targetSettingType.touched && !targetSettingType.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #targetSettingType='ngModel' 
                    #targetSettingTypeCombo='kendoDropDownList' 
                    name='targetSettingType' 
                    title='TargetSettingType'
                    class='form-control'
                    [ngClass]="{ 'error' : !targetSettingType.valid && targetSettingType.touched }" 
                    [data]='targetSettingTypeComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='targetSettingTypeComponent.filterable'
                    (filterChange)='targetSettingTypeComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.targetSettingType"
                     required 
                    [disabled]='IsLocked'>
                    <!-- <ng-template kendoDropDownListFooterTemplate *ngIf='targetSettingTypeComponent.addable'>
                      <button class='btn btn-primary' (click)='targetSettingTypeComponent.onAdd(targetSettingTypeCombo, targetSettingTypeEditUI)'>Add New</button>
                    </ng-template> -->
                </kendo-dropdownlist>
      </div>

			<!-- Year -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Year_Id")'></guide>
        <label for='year' class='col-form-label'>Year : </label>
        <span class='help-block col-form-label' *ngIf='!year.valid && year.touched && !year.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #year='ngModel' 
                    #yearCombo='kendoDropDownList' 
                    name='year' 
                    title='Year'
                    class='form-control'
                    [ngClass]="{ 'error' : !year.valid && year.touched }" 
                    [data]='yearComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='yearComponent.filterable'
                    (filterChange)='yearComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.year"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='yearComponent.addable'>
                      <button class='btn btn-primary' (click)='yearComponent.onAdd(yearCombo, yearEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- Date -->
      <!-- <div class='form-group'>
        <guide (onClick)='onGuid("Date")'></guide>
        <label for='date' class='col-form-label'>Date : </label>
        <span class='help-block col-form-label' *ngIf='!date.valid && date.touched && !date.disabled'>( Value is not Valid! )</span>
        <input type='date' 
                    title=Date 
                    [ngClass]="{ 'error' : !date.valid && date.touched }" 
                    class='form-control' 
                    #date='ngModel' 
                    name='date'
                    [ngModel]="currentInstance.date | date:'yyyy-MM-dd'"
                    (ngModelChange)='currentInstance.date = $event'
                    [disabled]='IsLocked'
                     required >
      </div> -->
			<!-- Comment -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Comment")'></guide>
        <label for='comment' class='col-form-label'>Comment : </label>
        <span class='help-block col-form-label' *ngIf='!comment.valid && comment.touched && !comment.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Comment' 
                    [ngClass]="{ 'error' : !comment.valid && comment.touched }" 
                    class='form-control ' 
                    #comment='ngModel' 
                    name='comment' 
                    placeholder='... Comment' 
                    [(ngModel)]='currentInstance.comment' 
                    [disabled]='IsLocked'
                    maxlength='2000'  />
      </div>
			<!-- IsLocked -->
      <div class='form-group'>
        <guide (onClick)='onGuid("IsLocked")'></guide>
        <label for='isLocked' class='col-form-label'>Is Locked : </label>
        <!--IsLocked do not Required-->
        <input type='checkbox' 
                #isLocked 
                id = 'isLocked'
                name = 'isLocked'
                kendoCheckBox
                [checked] = 'currentInstance.isLocked'
                [(ngModel)] = 'currentInstance.isLocked' /> 
      </div>
      <!-- IsVisible -->
      <div class='form-group'>
        <guide (onClick)='onGuid("IsVisible")'></guide>
        <label for='isVisible' class='col-form-label'>Is Visible : </label>
        <!--isVisible do not Required-->
        <input type='checkbox' 
                #isVisible 
                id = 'isVisible'
                name = 'isVisible'
                kendoCheckBox
                [checked] = 'currentInstance.isVisible'
                [(ngModel)] = 'currentInstance.isVisible' /> 
      </div>

       <!-- IsValid -->
       <div class='form-group'>
        <guide (onClick)='onGuid("IsValid")'></guide>
        <label for='isValid' class='col-form-label'>Is Valid : </label>
        <!--isValid do not Required-->
        <input type='checkbox' 
                #isValid 
                id = 'isValid'
                name = 'isValid'
                kendoCheckBox
                [checked] = 'currentInstance.isValid'
                [(ngModel)] = 'currentInstance.isValid' /> 
      </div>
			
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!targetSettingEditUI.valid || IsLocked' >Save & Close</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!targetSettingEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, targetSettingEditUI, true)'>Save</button>
      <button id='cancel-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancel</button>
    </div>
  </form>
</XDialog>

<hr-employee-edit #employeeEditUI 
    (onClosed)='employeeComponent.onClosed($event)'>
</hr-employee-edit>
<hr-position-edit #positionEditUI 
    (onClosed)='positionComponent.onClosed($event)'>
</hr-position-edit>
<base-year-edit #yearEditUI 
    (onClosed)='yearComponent.onClosed($event)'>
</base-year-edit>
<!-- <base-pms-targetSettingType-edit #targetSettingTypeEditUI 
    (onClosed)='targetSettingTypeComponent.onClosed($event)'>
  </base-pms-targetSettingType-edit> -->