
.mat-menu-panel {
    min-width: 200px;
}

.item {
    min-width: 200px;
    font-style: normal;
    text-decoration: none;
    background-color: #1c1d1f;
    color: #ffffff;
}

.item:hover{
    background: #ffc107;
    color: black; 
}

.head {
    padding: 31px;
    width: 100%;
    background-color: #235b83;
    color: white;
    border: none;
    text-align: left;
    
}

.head:hover {
    background-color: #19425f;
}
