<XDialog Header='Functional KPI Management form'
    [IsShown]='IsShown' 
    (OnClosed)='onClose()'
    [ModalType]='2'>
    <div class='master-content'>
        <fieldset class='border rounded'>
            <legend>Functional KPI : </legend>
            <div>
                <div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Functional Objective : 
                        <guide (onClick)='onGuid("FunctionalObjective_Id")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.functionalObjective?.descriptor }}</label>
                </div>
				<div class='form-group row'>
                    <label class='col-sm-4 titleControl'>KPI Title : 
                        <guide (onClick)='onGuid("title")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.title }}</label>
                </div>
				<div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Weight : 
                        <guide (onClick)='onGuid("Weight")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.weight | number }}</label>
                </div>
				<div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Measurement Unit : 
                        <guide (onClick)='onGuid("MeasurementUnit_Id")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.measurementUnit?.descriptor }}</label>
                </div>
				<div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Mid Target : 
                        <guide (onClick)='onGuid("MidTarget")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.midTarget | number }}</label>
                </div>
				<div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Annual Target : 
                        <guide (onClick)='onGuid("AnnualTarget")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.annualTarget | number }}</label>
                </div>
                <div class='form-group row' *ngIf='false'>
                    <label class='col-sm-4 titleControl'>Employee Score : 
                        <guide (onClick)='onGuid("EmployeeScore")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.employeeScore | number }}</label>
                </div>
				<div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Manager Score : 
                        <guide (onClick)='onGuid("ManagerScore")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.managerScore | number }}</label>
                </div>
				<div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Description : 
                        <guide (onClick)='onGuid("Description")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.description }}</label>
                </div>
            </div>
            <button class='xbtn btn-refresh float-right' (click)='onReload()'>reload...</button>
        </fieldset>
        <hr/>
        <tabset #tabset>
            <tab heading='Functional KPI Comment' *ngIf='false'>
                <functionalKPI-functionalKPIComment-detail 
                    #pmsFunctionalKPIFunctionalKPICommentDetail
                    [FunctionalKPI]='currentInstance'>
                </functionalKPI-functionalKPIComment-detail>
            </tab>
			<tab heading='Functional Appraise'>
                <functionalKPI-functionalAppraise-detail 
                    #pmsFunctionalKPIFunctionalAppraiseDetail
                    [FunctionalKPI]='currentInstance'>
                </functionalKPI-functionalAppraise-detail>
            </tab>
        </tabset>
    </div>
</XDialog>