<XDialog Header='Search form of Non Operational Appraise' 
  [IsShown]='IsShown'
  (OnClosed)='cancelButton_Clicked()'>
  <div>
    <!--
          <div class='form-group row'>
            <label for='targetSetting' class='col-sm-3 col-form-label'>Target Setting : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #targetSetting='ngModel' 
                    #targetSettingCombo='kendoDropDownList' 
                    name='targetSetting' 
                    title='Target Setting'
                    class='form-control'
                    [ngClass]="{ 'error' : !targetSetting.valid && targetSetting.touched }" 
                    [data]='targetSettingComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='targetSettingComponent.filterable'
                    (filterChange)='targetSettingComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.targetSetting"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='targetSettingComponent.addable'>
                      <button class='btn btn-primary' (click)='targetSettingComponent.onAdd(targetSettingCombo, targetSettingEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='date' class='col-sm-3 col-form-label'>Date : </label>
            <div class='col-sm-9'>
              <input class='form-control' #date='ngModel' id='date' name='date'
										 title='Date'
										 autocomplete='off'
										 placeholder='Date'
										[(ngModel)]='nonOperationalAppraise.date'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='approver' class='col-sm-3 col-form-label'>Approver : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #approver='ngModel' 
                    #approverCombo='kendoDropDownList' 
                    name='approver' 
                    title='Approver'
                    class='form-control'
                    [ngClass]="{ 'error' : !approver.valid && approver.touched }" 
                    [data]='approverComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='approverComponent.filterable'
                    (filterChange)='approverComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.approver"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='approverComponent.addable'>
                      <button class='btn btn-primary' (click)='approverComponent.onAdd(approverCombo, approverEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='functionalScore' class='col-sm-3 col-form-label'>Functional Score : </label>
            <div class='col-sm-9'>
              <input class='form-control' #functionalScore='ngModel' id='functionalScore' name='functionalScore'
										 title='Functional Score'
										 autocomplete='off'
										 placeholder='Functional Score'
										[(ngModel)]='nonOperationalAppraise.functionalScore'
										 type='number'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='behavioralScore' class='col-sm-3 col-form-label'>Behavioral Score : </label>
            <div class='col-sm-9'>
              <input class='form-control' #behavioralScore='ngModel' id='behavioralScore' name='behavioralScore'
										 title='Behavioral Score'
										 autocomplete='off'
										 placeholder='Behavioral Score'
										[(ngModel)]='nonOperationalAppraise.behavioralScore'
										 type='number'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='totalScore' class='col-sm-3 col-form-label'>Total Score : </label>
            <div class='col-sm-9'>
              <input class='form-control' #totalScore='ngModel' id='totalScore' name='totalScore'
										 title='Total Score'
										 autocomplete='off'
										 placeholder='Total Score'
										[(ngModel)]='nonOperationalAppraise.totalScore'
										 type='number'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='scoreCell' class='col-sm-3 col-form-label'>Score Cell : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #scoreCell='ngModel' 
                    #scoreCellCombo='kendoDropDownList' 
                    name='scoreCell' 
                    title='Score Cell'
                    class='form-control'
                    [ngClass]="{ 'error' : !scoreCell.valid && scoreCell.touched }" 
                    [data]='scoreCellComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='scoreCellComponent.filterable'
                    (filterChange)='scoreCellComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.scoreCell"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='scoreCellComponent.addable'>
                      <button class='btn btn-primary' (click)='scoreCellComponent.onAdd(scoreCellCombo, scoreCellEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='comment' class='col-sm-3 col-form-label'>Comment : </label>
            <div class='col-sm-9'>
              <input class='form-control' #comment='ngModel' id='comment' name='comment'
										 title='Comment'
										 autocomplete='off'
										 placeholder='Comment'
										[(ngModel)]='nonOperationalAppraise.comment'
										 type='text'
										 maxlength='800'
										 />
            </div>
          </div>-->
  </div>
  <div class='modal-footer'>
    <button type='button' class='btn btn-secondary' (click)='cancelButton_Clicked()'>Cancel</button>
    <button type='button' class='btn btn-primary' (click)='seekButton_Clicked()'>Search</button>
  </div>
</XDialog>