<XDialog Header='Search form of Behavioral Objective' 
  [IsShown]='IsShown'
  (OnClosed)='cancelButton_Clicked()'>
  <div>
    <!--
          <div class='form-group row'>
            <label for='targetSetting' class='col-sm-3 col-form-label'>Target Setting : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #targetSetting='ngModel' 
                    #targetSettingCombo='kendoDropDownList' 
                    name='targetSetting' 
                    title='Target Setting'
                    class='form-control'
                    [ngClass]="{ 'error' : !targetSetting.valid && targetSetting.touched }" 
                    [data]='targetSettingComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='targetSettingComponent.filterable'
                    (filterChange)='targetSettingComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.targetSetting"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='targetSettingComponent.addable'>
                      <button class='btn btn-primary' (click)='targetSettingComponent.onAdd(targetSettingCombo, targetSettingEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='competencyItem' class='col-sm-3 col-form-label'>Competency Item : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #competencyItem='ngModel' 
                    #competencyItemCombo='kendoDropDownList' 
                    name='competencyItem' 
                    title='Competency Item'
                    class='form-control'
                    [ngClass]="{ 'error' : !competencyItem.valid && competencyItem.touched }" 
                    [data]='competencyItemComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='competencyItemComponent.filterable'
                    (filterChange)='competencyItemComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.competencyItem"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='competencyItemComponent.addable'>
                      <button class='btn btn-primary' (click)='competencyItemComponent.onAdd(competencyItemCombo, competencyItemEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='title' class='col-sm-3 col-form-label'>Title : </label>
            <div class='col-sm-9'>
              <input class='form-control' #title='ngModel' id='title' name='title'
										 title='Title'
										 autocomplete='off'
										 placeholder='Title'
										[(ngModel)]='behavioralObjective.title'
										 type='text'
										 maxlength='400'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='expectedLevel' class='col-sm-3 col-form-label'>Expected Level : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #expectedLevel='ngModel' 
                    #expectedLevelCombo='kendoDropDownList' 
                    name='expectedLevel' 
                    title='Expected Level'
                    class='form-control'
                    [ngClass]="{ 'error' : !expectedLevel.valid && expectedLevel.touched }" 
                    [data]='expectedLevelComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='expectedLevelComponent.filterable'
                    (filterChange)='expectedLevelComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.expectedLevel"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='expectedLevelComponent.addable'>
                      <button class='btn btn-primary' (click)='expectedLevelComponent.onAdd(expectedLevelCombo, expectedLevelEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='weight' class='col-sm-3 col-form-label'>Weight : </label>
            <div class='col-sm-9'>
              <input class='form-control' #weight='ngModel' id='weight' name='weight'
										 title='Weight'
										 autocomplete='off'
										 placeholder='Weight'
										[(ngModel)]='behavioralObjective.weight'
										 type='number'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='totalKPIWeight' class='col-sm-3 col-form-label'>Total KPI Weight : </label>
            <div class='col-sm-9'>
              <input class='form-control' #totalKPIWeight='ngModel' id='totalKPIWeight' name='totalKPIWeight'
										 title='Total KPI Weight'
										 autocomplete='off'
										 placeholder='Total KPI Weight'
										[(ngModel)]='behavioralObjective.totalKPIWeight'
										 type='number'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='description' class='col-sm-3 col-form-label'>Description : </label>
            <div class='col-sm-9'>
              <input class='form-control' #description='ngModel' id='description' name='description'
										 title='Description'
										 autocomplete='off'
										 placeholder='Description'
										[(ngModel)]='behavioralObjective.description'
										 type='text'
										 maxlength='800'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='finalScore' class='col-sm-3 col-form-label'>Final Score : </label>
            <div class='col-sm-9'>
              <input class='form-control' #finalScore='ngModel' id='finalScore' name='finalScore'
										 title='Final Score'
										 autocomplete='off'
										 placeholder='Final Score'
										[(ngModel)]='behavioralObjective.finalScore'
										 type='number'
										 />
            </div>
          </div>-->
  </div>
  <div class='modal-footer'>
    <button type='button' class='btn btn-secondary' (click)='cancelButton_Clicked()'>Cancel</button>
    <button type='button' class='btn btn-primary' (click)='seekButton_Clicked()'>Search</button>
  </div>
</XDialog>