<XDialog Header='Edit Form of Position Assignment' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, positionAssignmentEditUI)' 
    #positionAssignmentEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- Employee -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Employee_Id")'></guide>
        <label for='employee' class='col-form-label'>Employee : </label>
        <span class='help-block col-form-label' *ngIf='!employee.valid && employee.touched && !employee.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #employee='ngModel' 
                    #employeeCombo='kendoDropDownList' 
                    name='employee' 
                    title='Employee'
                    class='form-control'
                    [ngClass]="{ 'error' : !employee.valid && employee.touched }" 
                    [data]='employeeComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='employeeComponent.filterable'
                    (filterChange)='employeeComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.employee"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='employeeComponent.addable'>
                      <button class='btn btn-primary' (click)='employeeComponent.onAdd(employeeCombo, employeeEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- Position -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Position_Id")'></guide>
        <label for='position' class='col-form-label'>Position : </label>
        <span class='help-block col-form-label' *ngIf='!position.valid && position.touched && !position.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #position='ngModel' 
                    #positionCombo='kendoDropDownList' 
                    name='position' 
                    title='Position'
                    class='form-control'
                    [ngClass]="{ 'error' : !position.valid && position.touched }" 
                    [data]='positionComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='positionComponent.filterable'
                    (filterChange)='positionComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.position"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='positionComponent.addable'>
                      <button class='btn btn-primary' (click)='positionComponent.onAdd(positionCombo, positionEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- FromDate -->
      <div class='form-group'>
        <guide (onClick)='onGuid("FromDate")'></guide>
        <label for='fromDate' class='col-form-label'>From Date : </label>
        <span class='help-block col-form-label' *ngIf='!fromDate.valid && fromDate.touched && !fromDate.disabled'>( Value is not Valid! )</span>
        <input type='date' 
                    title=From Date 
                    [ngClass]="{ 'error' : !fromDate.valid && fromDate.touched }" 
                    class='form-control' 
                    #fromDate='ngModel' 
                    name='fromDate'
                    [ngModel]="currentInstance.fromDate | date:'yyyy-MM-dd'"
                    (ngModelChange)='currentInstance.fromDate = $event'
                    [disabled]='IsLocked'
                     required >
      </div>
			<!-- Comment -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Comment")'></guide>
        <label for='comment' class='col-form-label'>Comment : </label>
        <span class='help-block col-form-label' *ngIf='!comment.valid && comment.touched && !comment.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Comment' 
                    [ngClass]="{ 'error' : !comment.valid && comment.touched }" 
                    class='form-control ' 
                    #comment='ngModel' 
                    name='comment' 
                    placeholder='... Comment' 
                    [(ngModel)]='currentInstance.comment' 
                    [disabled]='IsLocked'
                    maxlength='2000'  />
      </div>
			<!-- IsAlive -->
      <div class='form-group'>
        <guide (onClick)='onGuid("IsAlive")'></guide>
        <label for='isAlive' class='col-form-label'>Is Alive : </label>
        <!--IsAlive do not Required-->
        <input type='checkbox' 
                #isAlive 
                id = 'isAlive'
                name = 'isAlive'
                kendoCheckBox
                [checked] = 'currentInstance.isAlive'
                [(ngModel)] = 'currentInstance.isAlive' /> 
      </div>
			
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!positionAssignmentEditUI.valid || IsLocked' >Save & Close</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!positionAssignmentEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, positionAssignmentEditUI, true)'>Save</button>
      <button id='cancle-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancle</button>
    </div>
  </form>
</XDialog>

<hr-employee-edit #employeeEditUI 
    (onClosed)='employeeComponent.onClosed($event)'>
</hr-employee-edit>
<hr-position-edit #positionEditUI 
    (onClosed)='positionComponent.onClosed($event)'>
</hr-position-edit>