<XDialog Header='Search form of Assessor Connection Line' 
  [IsShown]='IsShown'
  (OnClosed)='cancleButton_Clicked()'>
  <div>
    <!--
          <div class='form-group row'>
            <label for='assessor' class='col-sm-3 col-form-label'>Assessor : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #assessor='ngModel' 
                    #assessorCombo='kendoDropDownList' 
                    name='assessor' 
                    title='Assessor'
                    class='form-control'
                    [ngClass]="{ 'error' : !assessor.valid && assessor.touched }" 
                    [data]='assessorComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='assessorComponent.filterable'
                    (filterChange)='assessorComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.assessor"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='assessorComponent.addable'>
                      <button class='btn btn-primary' (click)='assessorComponent.onAdd(assessorCombo, assessorEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='connectionType' class='col-sm-3 col-form-label'>Connection Type : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #connectionType='ngModel' 
                    #connectionTypeCombo='kendoDropDownList' 
                    name='connectionType' 
                    title='Connection Type'
                    class='form-control'
                    [ngClass]="{ 'error' : !connectionType.valid && connectionType.touched }" 
                    [data]='connectionTypeComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='connectionTypeComponent.filterable'
                    (filterChange)='connectionTypeComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.connectionType"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='connectionTypeComponent.addable'>
                      <button class='btn btn-primary' (click)='connectionTypeComponent.onAdd(connectionTypeCombo, connectionTypeEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='number' class='col-sm-3 col-form-label'>Number : </label>
            <div class='col-sm-9'>
              <input class='form-control' #number='ngModel' id='number' name='number'
										 title='Number'
										 autocomplete='off'
										 placeholder='Number'
										[(ngModel)]='assessorConnectionLine.number'
										 type='text'
										 maxlength='20'
										 dir='ltr' />
            </div>
          </div>-->
  </div>
  <div class='modal-footer'>
    <button type='button' class='btn btn-secondary' (click)='cancleButton_Clicked()'>Cancel</button>
    <button type='button' class='btn btn-primary' (click)='seekButton_Clicked()'>Search</button>
  </div>
</XDialog>