<XDialog Header='Edit Form of Property Option' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, propertyOptionEditUI)' 
    #propertyOptionEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- Property -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Property_Id")'></guide>
        <label for='property' class='col-form-label'>Property : </label>
        <span class='help-block col-form-label' *ngIf='!property.valid && property.touched && !property.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #property='ngModel' 
                    #propertyCombo='kendoDropDownList' 
                    name='property' 
                    title='Property'
                    class='form-control'
                    [ngClass]="{ 'error' : !property.valid && property.touched }" 
                    [data]='propertyComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='propertyComponent.filterable'
                    (filterChange)='propertyComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.property"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='propertyComponent.addable'>
                      <button class='btn btn-primary' (click)='propertyComponent.onAdd(propertyCombo, propertyEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- Title -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Title")'></guide>
        <label for='title' class='col-form-label'>Title : </label>
        <span class='help-block col-form-label' *ngIf='!title.valid && title.touched && !title.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Title' 
                    [ngClass]="{ 'error' : !title.valid && title.touched }" 
                    class='form-control ' 
                    #title='ngModel' 
                    name='title' 
                    placeholder='... Title' 
                    [(ngModel)]='currentInstance.title' 
                    [disabled]='IsLocked'
                    maxlength='400'  required  />
      </div>
			<!-- Description -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Description")'></guide>
        <label for='description' class='col-form-label'>Description : </label>
        <span class='help-block col-form-label' *ngIf='!description.valid && description.touched && !description.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Description' 
                    [ngClass]="{ 'error' : !description.valid && description.touched }" 
                    class='form-control ' 
                    #description='ngModel' 
                    name='description' 
                    placeholder='... Description' 
                    [(ngModel)]='currentInstance.description' 
                    [disabled]='IsLocked'
                    maxlength='2000'  />
      </div>
			
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!propertyOptionEditUI.valid || IsLocked' >Save & Close</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!propertyOptionEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, propertyOptionEditUI, true)'>Save</button>
      <button id='cancel-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancel</button>
    </div>
  </form>
</XDialog>

<core-property-edit #propertyEditUI 
    (onClosed)='propertyComponent.onClosed($event)'>
</core-property-edit>