<XDialog Header='Search form of Position Assignment' 
  [IsShown]='IsShown'
  (OnClosed)='cancelButton_Clicked()'>
  <div>
    <!--
          <div class='form-group row'>
            <label for='employee' class='col-sm-3 col-form-label'>Employee : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #employee='ngModel' 
                    #employeeCombo='kendoDropDownList' 
                    name='employee' 
                    title='Employee'
                    class='form-control'
                    [ngClass]="{ 'error' : !employee.valid && employee.touched }" 
                    [data]='employeeComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='employeeComponent.filterable'
                    (filterChange)='employeeComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.employee"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='employeeComponent.addable'>
                      <button class='btn btn-primary' (click)='employeeComponent.onAdd(employeeCombo, employeeEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='position' class='col-sm-3 col-form-label'>Position : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #position='ngModel' 
                    #positionCombo='kendoDropDownList' 
                    name='position' 
                    title='Position'
                    class='form-control'
                    [ngClass]="{ 'error' : !position.valid && position.touched }" 
                    [data]='positionComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='positionComponent.filterable'
                    (filterChange)='positionComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.position"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='positionComponent.addable'>
                      <button class='btn btn-primary' (click)='positionComponent.onAdd(positionCombo, positionEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='fromDate' class='col-sm-3 col-form-label'>From Date : </label>
            <div class='col-sm-9'>
              <input class='form-control' #fromDate='ngModel' id='fromDate' name='fromDate'
										 title='From Date'
										 autocomplete='off'
										 placeholder='From Date'
										[(ngModel)]='positionAssignment.fromDate'
										 type='date'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='comment' class='col-sm-3 col-form-label'>Comment : </label>
            <div class='col-sm-9'>
              <input class='form-control' #comment='ngModel' id='comment' name='comment'
										 title='Comment'
										 autocomplete='off'
										 placeholder='Comment'
										[(ngModel)]='positionAssignment.comment'
										 type='text'
										 maxlength='2000'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='isAlive' class='col-sm-3 col-form-label'>Is Alive : </label>
            <div class='col-sm-9'>
              
            </div>
          </div>-->
  </div>
  <div class='modal-footer'>
    <button type='button' class='btn btn-secondary' (click)='cancelButton_Clicked()'>Cancel</button>
    <button type='button' class='btn btn-primary' (click)='seekButton_Clicked()'>Search</button>
  </div>
</XDialog>