<XDialog Header='Appraise Result Management form'
    [IsShown]='IsShown' 
    (OnClosed)='onClose()'
    [ModalType]='2'>
    <div class='master-content'>
        <fieldset class='border rounded'>
            <legend>Appraise Result : </legend>
            <div>
                <div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Target Setting : 
                        <guide (onClick)='onGuid("TargetSetting_Id")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.targetSetting?.descriptor }}</label>
                </div>
				<div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Appraise Type : 
                        <guide (onClick)='onGuid("AppraiseType_Id")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.appraiseType?.descriptor }}</label>
                </div>
				<div class='form-group row' *ngIf='position.positionCategory.id == 2'>
                    <label class='col-sm-4 titleControl'>Functional Score : 
                        <guide (onClick)='onGuid("FunctionalScore")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.functionalScore | number }}</label>
                </div>
				<div class='form-group row' *ngIf='position.positionCategory.id == 2 || position.positionCategory.id == 1'>
                    <label class='col-sm-4 titleControl'>Behavioral Score : 
                        <guide (onClick)='onGuid("BehavioralScore")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.behavioralScore | number }}</label>
                </div>
                <div class='form-group row' *ngIf='position.positionCategory.id == 1'>
                    <label class='col-sm-4 titleControl'>Quantitative Score : 
                        <guide (onClick)='onGuid("QuantitativeScore")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.quantitativeScore | number }}</label>
                </div>
                <div class='form-group row' *ngIf='position.positionCategory.id == 1'>
                    <label class='col-sm-4 titleControl' >Qualitative Score : 
                        <guide (onClick)='onGuid("QualitativeScore")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.qualitativeScore | number }}</label>
                </div>
				<div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Total Score : 
                        <guide (onClick)='onGuid("TotalScore")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.totalScore | number }}</label>
                </div>
                <div class='form-group row'>
                    <label class='col-sm-4 titleControl'> Cell : 
                        <guide (onClick)='onGuid("ScoreCell")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.scoreCell?.descriptor }}</label>
                </div>
            </div>
            <button class='xbtn btn-refresh float-right' (click)='onReload()'>reload...</button>
    <log-button [CurrentInstance]='currentInstance'></log-button>
        </fieldset>
        <hr/>
        <!-- DetailPart -->
    </div>
   
</XDialog>