<XDialog Header='Search form of Functional KPI' 
  [IsShown]='IsShown'
  (OnClosed)='cancleButton_Clicked()'>
  <div>
    <!--
          <div class='form-group row'>
            <label for='functionalObjective' class='col-sm-3 col-form-label'>Functional Objective : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #functionalObjective='ngModel' 
                    #functionalObjectiveCombo='kendoDropDownList' 
                    name='functionalObjective' 
                    title='Functional Objective'
                    class='form-control'
                    [ngClass]="{ 'error' : !functionalObjective.valid && functionalObjective.touched }" 
                    [data]='functionalObjectiveComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='functionalObjectiveComponent.filterable'
                    (filterChange)='functionalObjectiveComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.functionalObjective"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='functionalObjectiveComponent.addable'>
                      <button class='btn btn-primary' (click)='functionalObjectiveComponent.onAdd(functionalObjectiveCombo, functionalObjectiveEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='title' class='col-sm-3 col-form-label'>KPI Title : </label>
            <div class='col-sm-9'>
              <input class='form-control' #title='ngModel' id='title' name='title'
										 title='KPI Title'
										 autocomplete='off'
										 placeholder='KPI Title'
										[(ngModel)]='functionalKPI.title'
										 type='text'
										 maxlength='400'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='weight' class='col-sm-3 col-form-label'>Weight : </label>
            <div class='col-sm-9'>
              <input class='form-control' #weight='ngModel' id='weight' name='weight'
										 title='Weight'
										 autocomplete='off'
										 placeholder='Weight'
										[(ngModel)]='functionalKPI.weight'
										 type='number'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='measurementUnit' class='col-sm-3 col-form-label'>Measurement Unit : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #measurementUnit='ngModel' 
                    #measurementUnitCombo='kendoDropDownList' 
                    name='measurementUnit' 
                    title='Measurement Unit'
                    class='form-control'
                    [ngClass]="{ 'error' : !measurementUnit.valid && measurementUnit.touched }" 
                    [data]='measurementUnitComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='measurementUnitComponent.filterable'
                    (filterChange)='measurementUnitComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.measurementUnit"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='measurementUnitComponent.addable'>
                      <button class='btn btn-primary' (click)='measurementUnitComponent.onAdd(measurementUnitCombo, measurementUnitEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='midTarget' class='col-sm-3 col-form-label'>Mid Target : </label>
            <div class='col-sm-9'>
              <input class='form-control' #midTarget='ngModel' id='midTarget' name='midTarget'
										 title='Mid Target'
										 autocomplete='off'
										 placeholder='Mid Target'
										[(ngModel)]='functionalKPI.midTarget'
										 type='number'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='annualTarget' class='col-sm-3 col-form-label'>Annual Target : </label>
            <div class='col-sm-9'>
              <input class='form-control' #annualTarget='ngModel' id='annualTarget' name='annualTarget'
										 title='Annual Target'
										 autocomplete='off'
										 placeholder='Annual Target'
										[(ngModel)]='functionalKPI.annualTarget'
										 type='number'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='description' class='col-sm-3 col-form-label'>Description : </label>
            <div class='col-sm-9'>
              <input class='form-control' #description='ngModel' id='description' name='description'
										 title='Description'
										 autocomplete='off'
										 placeholder='Description'
										[(ngModel)]='functionalKPI.description'
										 type='text'
										 maxlength='1000'
										 />
            </div>
          </div>-->
  </div>
  <div class='modal-footer'>
    <button type='button' class='btn btn-secondary' (click)='cancleButton_Clicked()'>Cancel</button>
    <button type='button' class='btn btn-primary' (click)='seekButton_Clicked()'>Search</button>
  </div>
</XDialog>