<XDialog Header='Search form of Unit' 
  [IsShown]='IsShown'
  (OnClosed)='cancleButton_Clicked()'>
  <div>
    <!--
          <div class='form-group row'>
            <label for='title' class='col-sm-3 col-form-label'>Title : </label>
            <div class='col-sm-9'>
              <input class='form-control' #title='ngModel' id='title' name='title'
										 title='Title'
										 autocomplete='off'
										 placeholder='Title'
										[(ngModel)]='unit.title'
										 type='text'
										 maxlength='800'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='department' class='col-sm-3 col-form-label'>Department : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #department='ngModel' 
                    #departmentCombo='kendoDropDownList' 
                    name='department' 
                    title='Department'
                    class='form-control'
                    [ngClass]="{ 'error' : !department.valid && department.touched }" 
                    [data]='departmentComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='departmentComponent.filterable'
                    (filterChange)='departmentComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.department"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='departmentComponent.addable'>
                      <button class='btn btn-primary' (click)='departmentComponent.onAdd(departmentCombo, departmentEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='positionCategory' class='col-sm-3 col-form-label'>Position Category : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #positionCategory='ngModel' 
                    #positionCategoryCombo='kendoDropDownList' 
                    name='positionCategory' 
                    title='Position Category'
                    class='form-control'
                    [ngClass]="{ 'error' : !positionCategory.valid && positionCategory.touched }" 
                    [data]='positionCategoryComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='positionCategoryComponent.filterable'
                    (filterChange)='positionCategoryComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.positionCategory"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='positionCategoryComponent.addable'>
                      <button class='btn btn-primary' (click)='positionCategoryComponent.onAdd(positionCategoryCombo, positionCategoryEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='isActive' class='col-sm-3 col-form-label'>Is Active : </label>
            <div class='col-sm-9'>
              
            </div>
          </div>-->
  </div>
  <div class='modal-footer'>
    <button type='button' class='btn btn-secondary' (click)='cancleButton_Clicked()'>Cancel</button>
    <button type='button' class='btn btn-primary' (click)='seekButton_Clicked()'>Search</button>
  </div>
</XDialog>