<div class='detail-part'>
  <fieldset>
    <div id='button-section'>
      <div class='btn-group '
        role='group'
        aria-label='Basic example'>
        <button type='button'
          name='addButton'
          class='xbtn btn-add'
          (click)='onAdd(finalAppraiseEditUI)'
          *ngIf='false'>Add</button>
        <button type='button'
          name='editButton'
          class='xbtn btn-edit'
          (click)='onEdit(finalAppraiseEditUI)'
          [ngClass]="{ 'disabled' : currentFinalAppraise.id == 0 }">Edit</button>
        <button type='button'
          name='deleteButton'
          class='xbtn btn-delete'
          (click)='onDelete(finalAppraiseDeleteUI)'
          [ngClass]="{ 'disabled' : currentFinalAppraise.id == 0 }"
          *ngIf='false'>Delete</button>
      </div>
      <div class='float-right'>
        <button type='button'
          name='refreshButton'
          class='xbtn btn-refresh'
          (click)='onReload()'>Refresh</button>
      </div>

    </div>
    <div class='detail-grid'>
      <table class='table table-hover'>
        <thead class='thead'>
          <tr class='header-row'>
            <th class='row-number'>Row</th>
            <th> Final Appraise</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let finalAppraise of FinalAppraiseList; let i = index'
            (dblclick)='onDblClicked(finalAppraiseMasterUI)'
            (click)='onSelect(i)'
            [ngClass]="{ 'selected-row' : finalAppraise.id === currentFinalAppraise.id, 'free-row': finalAppraise.id !== currentFinalAppraise.id  }">
            <td class='row-number'>{{i+1}}</td>
            <td>
              {{ finalAppraise.descriptor }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
  <pms-finalAppraise-edit #finalAppraiseEditUI
    (onClosed)='onEditModal_Closed($event)'>
  </pms-finalAppraise-edit>
  <pms-finalAppraise-delete #finalAppraiseDeleteUI
    (onClosed)='onDeleteModal_Closed($event)'>
  </pms-finalAppraise-delete>
  <pms-finalAppraise-master #finalAppraiseMasterUI>
  </pms-finalAppraise-master>
</div>
