<XDialog Header='Performance Management Form' [IsShown]='IsShown' (OnClosed)='onClose()' [ModalType]='2'>
    <div class='master-content'>
        <fieldset class='border rounded'>
            <legend>Performance Management : </legend>
            <div>
                <div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Employee :
                        <guide (onClick)='onGuid("Employee_Id")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.employee?.descriptor }}</label>
                </div>
                <div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Position :
                        <guide (onClick)='onGuid("Position_Id")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.position?.descriptor }}</label>
                </div>
                <div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Target Setting Type :
                        <guide (onClick)='onGuid("TargetSettingType_Id")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.targetSettingType?.descriptor }}</label>
                </div>
                <div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Appraiser :
                        <guide (onClick)='onGuid("Appraiser_Id")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.appraiser?.descriptor }}</label>
                </div>
                <div class='form-group row'>
                    <label class='col-sm-4 titleControl'>Year :
                        <guide (onClick)='onGuid("Year_Id")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.year?.descriptor }}</label>
                </div>
                <div class='form-group row' *ngIf='false'>
                    <label class='col-sm-4 titleControl'>Date :
                        <guide (onClick)='onGuid("Date")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.date | date:'fullDate' }}</label>
                </div>
                <div class='form-group row' *ngIf='false'>
                    <label class='col-sm-4 titleControl'>Comment :
                        <guide (onClick)='onGuid("Comment")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.comment }}</label>
                </div>
                <div class='form-group row' *ngIf='false'>
                    <label class='col-sm-4 titleControl'>Is Locked :
                        <guide (onClick)='onGuid("IsLocked")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.isLocked }}</label>
                </div>
                <div class='form-group row' *ngIf='false'>
                    <label class='col-sm-4 titleControl'>Is Visible :
                        <guide (onClick)='onGuid("IsVisible")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.isVisible }}</label>
                </div>
                <div class='form-group row' *ngIf='false'>
                    <label class='col-sm-4 titleControl'>Is Valid :
                        <guide (onClick)='onGuid("IsValid")'></guide>
                    </label>
                    <label class='col-sm-8'>{{ currentInstance.isValid }}</label>
                </div>

                <div class='form-group row' *ngIf='position?.positionDivision?.id == 2'>
                    <label class='col-sm-4 titleControl'>Total Functional Weight :
                        <guide (onClick)='onGuid("totalFunctionalWeight")'></guide>
                    </label>
                    <label class='col-sm-8' [ngStyle]="{ 'color' : currentInstance.totalFunctionalWeight !== 100 ? 'red' : '#23282c' }">{{ currentInstance.totalFunctionalWeight }}</label>
                </div>
                <div class='form-group row' *ngIf='position?.positionDivision?.id == 2'>
                    <label class='col-sm-4 titleControl'>Total Behavioral Weight :
                        <guide (onClick)='onGuid("totalBehavioralWeight")'></guide>
                    </label>
                    <label class='col-sm-8' [ngStyle]="{ 'color' : currentInstance.totalBehavioralWeight !== 100 ? 'red' : '#23282c' }">{{ currentInstance.totalBehavioralWeight }}</label>
                </div>
                <div class='form-group row' *ngIf='position?.positionDivision?.id == 1'>
                    <label class='col-sm-4 titleControl'>Total Quantitative Weight :
                        <guide (onClick)='onGuid("totalQuantitativeWeight")'></guide>
                    </label>
                    <label class='col-sm-8' [ngStyle]="{ 'color' : currentInstance.totalQuantitativeWeight !== 100 ? 'red' : '#23282c' }">{{ currentInstance.totalQuantitativeWeight }}</label>
                </div>
                <div class='form-group row' *ngIf='position?.positionDivision?.id == 1'>
                    <label class='col-sm-4 titleControl'>Total Qualitative Weight :
                        <guide (onClick)='onGuid("totalQualitativeWeight")'></guide>
                    </label>
                    <label class='col-sm-8' [ngStyle]="{ 'color' : currentInstance.totalQualitativeWeight !== 100 ? 'red' : '#23282c' }">{{ currentInstance.totalQualitativeWeight }}</label>
                </div>

                <div class='form-group row'>
                    <label class='col-sm-4 titleControl'>SFE Appraisal Dashboard :
                        <guide (onClick)='onGuid("")'></guide>
                    </label>
                    <label class='col-sm-8' *ngIf='position?.positionDivision?.id == 1'>
                        <a href='http://pbi.cobeldarou.com:81/reports/powerbi/SFE/Appraisal%20Dashboard'
                            class='link-success' target='_blank'>
                            View Dashboard
                        </a>
                    </label>
                </div>

            </div>
            <button class='xbtn btn-refresh float-right' (click)='onReload()'>reload...</button>
        </fieldset>
        <hr />
        <tabset #tabset>
            <tab [heading]='this.functionalTabItem.headLine' *ngIf='this.functionalTabItem.isVisible'>
                <targetSetting-functionalObjective-detail #pmsTargetSettingFunctionalObjectiveDetail [TargetSetting]='currentInstance'>
                </targetSetting-functionalObjective-detail>
            </tab>
            <tab [heading]='f_behavioralTabItem.headLine' *ngIf='f_behavioralTabItem.isVisible'>
                <targetSetting-behavioralObjective-detail #pmsTargetSettingBehavioralObjectiveDetail [TargetSetting]='currentInstance'>
                </targetSetting-behavioralObjective-detail>
            </tab>
            <tab [heading]='quantitativeTabItem.headLine' *ngIf='quantitativeTabItem.isVisible'>
                <targetSetting-quantitativeAppraise-detail #pmsTargetSettingQuantitativeAppraiseDetail [TargetSetting]='currentInstance'>
                </targetSetting-quantitativeAppraise-detail>
            </tab>
            <tab [heading]='qualitativeTabItem.headLine' *ngIf='nonBehavioralTabItem.isVisible || behavioralTabItem.isVisible'>
                <tabset #tabset>
                    <tab [heading]='nonBehavioralTabItem.headLine' *ngIf='nonBehavioralTabItem.isVisible'>
                        <targetSetting-qualitativeObjective-detail #pmsTargetSettingQualitativeObjectiveDetail [TargetSetting]='currentInstance'>
                        </targetSetting-qualitativeObjective-detail>
                    </tab>
                    <tab [heading]='behavioralTabItem.headLine' *ngIf='behavioralTabItem.isVisible'>
                        <targetSetting-behavioralObjective-detail #pmsTargetSettingBehavioralObjectiveDetail [TargetSetting]='currentInstance'>
                        </targetSetting-behavioralObjective-detail>
                    </tab>
                </tabset>
            </tab>
            <tab [heading]='appraiseResultTabItem.headLine' *ngIf='appraiseResultTabItem.isVisible'>
                <targetSetting-appraiseResult-detail #pmsTargetSettingAppraiseResultDetail [TargetSetting]='currentInstance'>
                </targetSetting-appraiseResult-detail>
            </tab>
            <!-- <tab heading='Final Approvement'>
                <targetSetting-finalApprovement-detail 
                    #pmsTargetSettingFinalApprovementDetail
                    [TargetSetting]='currentInstance'>
                </targetSetting-finalApprovement-detail>
            </tab> -->

            <!-- <tab heading='Operational Appraise'>
                <targetSetting-operationalAppraise-detail 
                    #pmsTargetSettingOperationalAppraiseDetail
                    [TargetSetting]='currentInstance'>
                </targetSetting-operationalAppraise-detail>
            </tab> -->
            <tab [heading]='finalAppraiseTabItem.headLine' *ngIf='finalAppraiseTabItem.isVisible'>
                <targetSetting-finalAppraise-detail #pmsTargetSettingFinalAppraiseDetail [TargetSetting]='currentInstance'>
                </targetSetting-finalAppraise-detail>
            </tab>
            <tab [heading]='idpFormTabItem.headLine' *ngIf='idpFormTabItem.isVisible'>
                <targetSetting-vision-detail #pmsTargetSettingVisionDetail [TargetSetting]='currentInstance'>
                </targetSetting-vision-detail>
            </tab>
            <!--
			<tab heading='Non Operational Appraise'>
                <targetSetting-nonOperationalAppraise-detail 
                    #pmsTargetSettingNonOperationalAppraiseDetail
                    [TargetSetting]='currentInstance'>
                </targetSetting-nonOperationalAppraise-detail>
            </tab> -->

        </tabset>
    </div>
</XDialog>