<XDialog Header='Edit Form of Role Member' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, roleMemberEditUI)' 
    #roleMemberEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- Employee -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Employee_Id")'></guide>
        <label for='employee' class='col-form-label'>Employee : </label>
        <span class='help-block col-form-label' *ngIf='!employee.valid && employee.touched && !employee.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #employee='ngModel' 
                    #employeeCombo='kendoDropDownList' 
                    name='employee' 
                    title='Employee'
                    class='form-control'
                    [ngClass]="{ 'error' : !employee.valid && employee.touched }" 
                    [data]='employeeComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='employeeComponent.filterable'
                    (filterChange)='employeeComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.employee"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='employeeComponent.addable'>
                      <button class='btn btn-primary' (click)='employeeComponent.onAdd(employeeCombo, employeeEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- Role -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Role_Id")'></guide>
        <label for='role' class='col-form-label'>Role : </label>
        <span class='help-block col-form-label' *ngIf='!role.valid && role.touched && !role.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #role='ngModel' 
                    #roleCombo='kendoDropDownList' 
                    name='role' 
                    title='Role'
                    class='form-control'
                    [ngClass]="{ 'error' : !role.valid && role.touched }" 
                    [data]='roleComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='roleComponent.filterable'
                    (filterChange)='roleComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.role"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='roleComponent.addable'>
                      <button class='btn btn-primary' (click)='roleComponent.onAdd(roleCombo, roleEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!roleMemberEditUI.valid || IsLocked' >Ok, Save it</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!roleMemberEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, roleMemberEditUI, true)'>Save and Continue</button>
      <button id='cancle-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancle</button>
    </div>
  </form>
</XDialog>

<hr-employee-edit #employeeEditUI 
    (onClosed)='employeeComponent.onClosed($event)'>
</hr-employee-edit>
<core-role-edit #roleEditUI 
    (onClosed)='roleComponent.onClosed($event)'>
</core-role-edit>