<fieldset class='border'>
    <legend>Performance Management :</legend>
    <index-button-manager [Id]='currentInstance.id'
                          (onAddButtonClicked)='onAdd(targetSettingEditUI)'
                          (onDeleteButtonClicked)='onDelete(targetSettingDeleteUI)'
                          (onEditButtonClicked)='onEdit(targetSettingEditUI)'
                          (onRefreshButtonClicked)='onRefresh()'
                          (onLogButtonClicked)='onLog(logViewerUI)'>
        <div id='quick-menu'>
            <a class='dropdown-item pointer'
               (click)='navigate("HR", "Employee", currentInstance.employee?.id)'>Manage Employee</a>
            <a class='dropdown-item pointer'
               (click)='navigate("HR", "Position", currentInstance.position?.id)'>Manage Position</a>
            <a class='dropdown-item pointer'
               (click)='navigate("Base", "Year", currentInstance.year?.id)'>Manage Year</a>
        </div>
        <div id='related-menu'>
            <a class='dropdown-item pointer'
               (click)='behavioralObjective_Clicked(behavioralObjectiveEditUI)'>Add Behavioral Objective</a>
            <a class='dropdown-item pointer'
               (click)='finalApprovement_Clicked(finalApprovementEditUI)'
               *ngIf='false'>Add Final Approvement</a>
            <a class='dropdown-item pointer'
               (click)='functionalObjective_Clicked(functionalObjectiveEditUI)'>Add Functional Objective</a>
            <a class='dropdown-item pointer'
               (click)='finalAppraise_Clicked(finalAppraiseEditUI)'
               *ngIf='false'>Add Final Appraise</a>
            <a class='dropdown-item pointer'
               (click)='quantitativeAppraise_Clicked(quantitativeAppraiseEditUI)'>Add Quantitative Appraise</a>
            <a class='dropdown-item pointer'
               (click)='operationalAppraise_Clicked(operationalAppraiseEditUI)'
               *ngIf='false'>Add Operational Appraise</a>
            <a class='dropdown-item pointer'
               (click)='nonOperationalAppraise_Clicked(nonOperationalAppraiseEditUI)'
               *ngIf='false'>Add Non Operational Appraise</a>
            <a class='dropdown-item pointer'
               (click)='qualitativeObjective_Clicked(qualitativeObjectiveEditUI)'>Add Qualitative Objective</a>
        </div>
    </index-button-manager>
    <table #targetSettingTable
           class='table table-hover indexTable'>
        <thead>
            <tr>
                <th class='row-number'>Row</th>
                <th title='Employee'>Employee</th>
                <th title='Position'>Position</th>
                <th title='TargetSettingType'>Target Setting Type</th>
                <th title='Appraiser'>Appraiser</th>
                <th title='Year'>Year</th>
                <th title='Date'>Date</th>
                <th title='Total Functional Weight'>Total Functional Weight</th>
                <th title='Total Behavioral Weight'>Total Behavioral Weight</th>
                <th title='Total Quantitative Weight'>Total Quantitative Weight</th>
                <th title='Total Qualitative Weight'>Total Qualitative Weight</th>
                <th width='100px'
                    title='Is Locked'>Is Locked</th>
                <th width='100px'
                    title='Is Visible'>Is Visible</th>
                <th width='100px'
                    title='Is Valid'>Is Valid</th>
            </tr>
            <tr name='secondRow'>
                <th class='row-number'></th>
                <th>
                    <input class='form-control'
                           #employee='ngModel'
                           id='employee'
                           name='employee'
                           title='Employee'
                           autocomplete='off'
                           placeholder='Employee'
                           [(ngModel)]='filterInstance.employee.descriptor'
                           type='text'
                           maxlength='50'
                           (keyup)='doFilter($event)' />
                </th>
                <th>
                    <input class='form-control'
                           #position='ngModel'
                           id='position'
                           name='position'
                           title='Position'
                           autocomplete='off'
                           placeholder='Position'
                           [(ngModel)]='filterInstance.position.descriptor'
                           type='text'
                           maxlength='50'
                           (keyup)='doFilter($event)' />
                </th>
                <th>
                    <input class='form-control'
                           #targetSettingType='ngModel'
                           id='targetSettingType'
                           name='targetSettingType'
                           title='targetSettingType'
                           autocomplete='off'
                           placeholder='targetSettingType'
                           [(ngModel)]='filterInstance.targetSettingType.descriptor'
                           type='text'
                           maxlength='50'
                           (keyup)='doFilter($event)' />
                </th>
                <th>
                    <input class='form-control'
                           #appraiser='ngModel'
                           id='appraiser'
                           name='appraiser'
                           title='appraiser'
                           autocomplete='off'
                           placeholder='appraiser'
                           [(ngModel)]='filterInstance.appraiser.descriptor'
                           type='text'
                           maxlength='50'
                           (keyup)='doFilter($event)' />
                </th>
                <th>
                    <input class='form-control'
                           #year='ngModel'
                           id='year'
                           name='year'
                           title='Year'
                           autocomplete='off'
                           placeholder='Year'
                           [(ngModel)]='filterInstance.year.descriptor'
                           type='text'
                           maxlength='50'
                           (keyup)='doFilter($event)' />
                </th>
                <th>
                    <input class='form-control'
                           #date='ngModel'
                           id='date'
                           name='date'
                           title='Date'
                           autocomplete='off'
                           placeholder='Date'
                           [(ngModel)]='filterInstance.date'
                           type='date'
                           (keyup)='doFilter($event)' />
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let p of list; let i = index'
                (dblclick)='onDblClicked(targetSettingMasterUI)'
                (click)='onSelect(i)'
                [ngClass]="p.id == currentInstance.id ? 'selected-row' : ( i % 2 == 0 ? 'free-row' : 'free-row-even')">
                <td class='row-number'>{{ i+1 }}</td>
                <td>{{ p.employee?.descriptor }}</td>
                <td>{{ p.position?.descriptor }}</td>
                <td>{{ p.targetSettingType?.descriptor }}</td>
                <td>{{ p.appraiser?.descriptor }}</td>
                <td>{{ p.year?.descriptor }}</td>
                <td>{{ p.date | date:'fullDate' }}</td>
                <td [ngClass]="{ 'attention' : p.totalFunctionalWeight !== 100  }">
                    {{ p.totalFunctionalWeight | number }}</td>
                <td [ngClass]="{ 'attention' : p.totalBehavioralWeight !== 100  }">
                    {{ p.totalBehavioralWeight | number }}</td>
                <td [ngClass]="{ 'attention' : p.totalQuantitativeWeight !== 100  }">
                    {{ p.totalQuantitativeWeight | number }}</td>
                <td [ngClass]="{ 'attention' : p.totalQualitativeWeight !== 100  }">
                    {{ p.totalQualitativeWeight | number }}</td>
                <td width='100px'><input type='checkbox'
                           disabled
                           [(ngModel)]='p.isLocked' /></td>
                <td width='100px'><input type='checkbox'
                           disabled
                           [(ngModel)]='p.isVisible' /></td>
                <td width='100px'><input type='checkbox'
                           disabled
                           [(ngModel)]='p.isValid' /></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <paginator #Paginator
               (onChangePage)='PageChanging($event)'
               hidden></paginator>
    <hr>
</fieldset>

<!--LogViewer Component-->
<log-viewer #logViewerUI
            [Entity]='currentInstance'>

</log-viewer>


<!-- TargetSetting -->
<pms-targetSetting-master #targetSettingMasterUI (onClosed)="onSeek(1)">
</pms-targetSetting-master>

<pms-targetSetting-edit #targetSettingEditUI
                        (onClosed)='onEditModalClosed($event)'>
</pms-targetSetting-edit>

<pms-targetSetting-delete #targetSettingDeleteUI
                          (onClosed)='onDeleteModalClosed($event)'>
</pms-targetSetting-delete>


<pms-behavioralObjective-edit #behavioralObjectiveEditUI>
    <!--  (onClosed)='behavioralObjectiveEditUI_Closed($event)' -->
</pms-behavioralObjective-edit>
<pms-finalApprovement-edit #finalApprovementEditUI>
    <!--  (onClosed)='finalApprovementEditUI_Closed($event)' -->
</pms-finalApprovement-edit>
<pms-functionalObjective-edit #functionalObjectiveEditUI>
    <!--  (onClosed)='functionalObjectiveEditUI_Closed($event)' -->
</pms-functionalObjective-edit>
<pms-finalAppraise-edit #finalAppraiseEditUI>
    <!--  (onClosed)='finalAppraiseEditUI_Closed($event)' -->
</pms-finalAppraise-edit>
<pms-quantitativeAppraise-edit #quantitativeAppraiseEditUI>
    <!--  (onClosed)='quantitativeAppraiseEditUI_Closed($event)' -->
</pms-quantitativeAppraise-edit>
<pms-operationalAppraise-edit #operationalAppraiseEditUI>
    <!--  (onClosed)='operationalAppraiseEditUI_Closed($event)' -->
</pms-operationalAppraise-edit>
<pms-nonOperationalAppraise-edit #nonOperationalAppraiseEditUI>
    <!--  (onClosed)='nonOperationalAppraiseEditUI_Closed($event)' -->
</pms-nonOperationalAppraise-edit>
<pms-qualitativeObjective-edit #qualitativeObjectiveEditUI>
    <!--  (onClosed)='qualitativeObjectiveEditUI_Closed($event)' -->
</pms-qualitativeObjective-edit>