<XDialog Header='Edit Form of RoleMenuItem' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, roleMenuItemEditUI)' 
    #roleMenuItemEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- Role -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Role_Id")'></guide>
        <label for='role' class='col-form-label'>Role_Id : </label>
        <span class='help-block col-form-label' *ngIf='!role.valid && role.touched && !role.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #role='ngModel' 
                    #roleCombo='kendoDropDownList' 
                    name='role' 
                    title='Role_Id'
                    class='form-control'
                    [ngClass]="{ 'error' : !role.valid && role.touched }" 
                    [data]='roleComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='roleComponent.filterable'
                    (filterChange)='roleComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.role"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='roleComponent.addable'>
                      <button class='btn btn-primary' (click)='roleComponent.onAdd(roleCombo, roleEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- MenuItem -->
      <div class='form-group'>
        <guide (onClick)='onGuid("MenuItem_Id")'></guide>
        <label for='menuItem' class='col-form-label'>MenuItem_Id : </label>
        <span class='help-block col-form-label' *ngIf='!menuItem.valid && menuItem.touched && !menuItem.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #menuItem='ngModel' 
                    #menuItemCombo='kendoDropDownList' 
                    name='menuItem' 
                    title='MenuItem_Id'
                    class='form-control'
                    [ngClass]="{ 'error' : !menuItem.valid && menuItem.touched }" 
                    [data]='menuItemComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='menuItemComponent.filterable'
                    (filterChange)='menuItemComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.menuItem"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='menuItemComponent.addable'>
                      <button class='btn btn-primary' (click)='menuItemComponent.onAdd(menuItemCombo, menuItemEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- IsActive -->
      <div class='form-group'>
        <guide (onClick)='onGuid("IsActive")'></guide>
        <label for='isActive' class='col-form-label'>IsActive : </label>
        <!--IsActive do not Required-->
        <input type='checkbox' 
                #isActive 
                id = 'isActive'
                name = 'isActive'
                kendoCheckBox
                [checked] = 'currentInstance.isActive'
                [(ngModel)] = 'currentInstance.isActive' /> 
      </div>
			
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!roleMenuItemEditUI.valid || IsLocked' >Save & Close</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!roleMenuItemEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, roleMenuItemEditUI, true)'>Save</button>
      <button id='cancel-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancel</button>
    </div>
  </form>
</XDialog>

<core-role-edit #roleEditUI 
    (onClosed)='roleComponent.onClosed($event)'>
</core-role-edit>
<core-menuItem-edit #menuItemEditUI 
    (onClosed)='menuItemComponent.onClosed($event)'>
</core-menuItem-edit>