<XDialog Header='Edit Form of Functional Objective' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, functionalObjectiveEditUI)' 
    #functionalObjectiveEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- TargetSetting -->
      <div class='form-group'>
        <guide (onClick)='onGuid("TargetSetting_Id")'></guide>
        <label for='targetSetting' class='col-form-label'>Target Setting : </label>
        <span class='help-block col-form-label' *ngIf='!targetSetting.valid && targetSetting.touched && !targetSetting.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #targetSetting='ngModel' 
                    #targetSettingCombo='kendoDropDownList' 
                    name='targetSetting' 
                    title='Target Setting'
                    class='form-control'
                    [ngClass]="{ 'error' : !targetSetting.valid && targetSetting.touched }" 
                    [data]='targetSettingComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='targetSettingComponent.filterable'
                    (filterChange)='targetSettingComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.targetSetting"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='targetSettingComponent.addable'>
                      <button class='btn btn-primary' (click)='targetSettingComponent.onAdd(targetSettingCombo, targetSettingEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- ParentalFunctionalObjective -->
      <div class='form-group'>
        <guide (onClick)='onGuid("ParentalFunctionalObjective_Id")'></guide>
        <label for='parentalFunctionalObjective' class='col-form-label'>Parental Functional Objective : </label>
        <span class='help-block col-form-label' *ngIf='!parentalFunctionalObjective.valid && parentalFunctionalObjective.touched && !parentalFunctionalObjective.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #parentalFunctionalObjective='ngModel' 
                    #parentalFunctionalObjectiveCombo='kendoDropDownList' 
                    name='parentalFunctionalObjective' 
                    title='Parental Functional Objective'
                    class='form-control'
                    [ngClass]="{ 'error' : !parentalFunctionalObjective.valid && parentalFunctionalObjective.touched }" 
                    [data]='parentalFunctionalObjectiveComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='parentalFunctionalObjectiveComponent.filterable'
                    (filterChange)='parentalFunctionalObjectiveComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.parentalFunctionalObjective"
                    
                    [disabled]='IsLocked'>
                    
                </kendo-dropdownlist>
      </div>
			<!-- IndividualObjective -->
      <div class='form-group'>
        <guide (onClick)='onGuid("IndividualObjective")'></guide>
        <label for='individualObjective' class='col-form-label'>Individual Objective : </label>
        <span class='help-block col-form-label' *ngIf='!individualObjective.valid && individualObjective.touched && !individualObjective.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Individual Objective' 
                    [ngClass]="{ 'error' : !individualObjective.valid && individualObjective.touched }" 
                    class='form-control ' 
                    #individualObjective='ngModel' 
                    name='individualObjective' 
                    placeholder='... Individual Objective' 
                    [(ngModel)]='currentInstance.individualObjective' 
                    [disabled]='IsLocked'
                    maxlength='400'  required  />
      </div>
			<!-- Weight -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Weight")'></guide>
        <label for='weight' class='col-form-label'>Weight : </label>
        <span class='help-block col-form-label' *ngIf='!weight.valid && weight.touched && !weight.disabled'>( Value is not Valid! )</span>
        
        <kendo-numerictextbox #weight='ngModel' 
            name='weight' 
            title='Weight' 
            placeholder='Weight'
            class='form-control'
            [ngClass]="{ 'error' : !weight.valid && weight.touched }" 
            [value]='currentInstance.weight' 
            [min]='0' [max]='100' 
            [(ngModel)]='currentInstance.weight'
            [format]="'n2'" 
            [decimals]='2'
            [spinners]='false'
            [disabled]='IsLocked'
             required ></kendo-numerictextbox>
      </div>
			<!-- Description -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Description")'></guide>
        <label for='description' class='col-form-label'>Description : </label>
        <span class='help-block col-form-label' *ngIf='!description.valid && description.touched && !description.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Description' 
                    [ngClass]="{ 'error' : !description.valid && description.touched }" 
                    class='form-control ' 
                    #description='ngModel' 
                    name='description' 
                    placeholder='... Description' 
                    [(ngModel)]='currentInstance.description' 
                    [disabled]='IsLocked'
                    maxlength='800'  />
      </div>
			<!-- totalKPIWeight -->
			<!-- EmployeeScore -->
			<!-- ManagerScore -->
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!functionalObjectiveEditUI.valid || IsLocked' >Save & Close</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!functionalObjectiveEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, functionalObjectiveEditUI, true)'>Save</button>
      <button id='cancle-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancle</button>
    </div>
  </form>
</XDialog>

<pms-targetSetting-edit #targetSettingEditUI 
    (onClosed)='targetSettingComponent.onClosed($event)'>
</pms-targetSetting-edit>