<XDialog Header='Edit Form of Work Experience' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, workExperienceEditUI)' 
    #workExperienceEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- Person -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Person_Id")'></guide>
        <label for='person' class='col-form-label'>Person : </label>
        <span class='help-block col-form-label' *ngIf='!person.valid && person.touched && !person.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #person='ngModel' 
                    #personCombo='kendoDropDownList' 
                    name='person' 
                    title='Person'
                    class='form-control'
                    [ngClass]="{ 'error' : !person.valid && person.touched }" 
                    [data]='personComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='personComponent.filterable'
                    (filterChange)='personComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.person"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='personComponent.addable'>
                      <button class='btn btn-primary' (click)='personComponent.onAdd(personCombo, personEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- PersianCompanyName -->
      <div class='form-group'>
        <guide (onClick)='onGuid("PersianCompanyName")'></guide>
        <label for='persianCompanyName' class='col-form-label'>Persian Company Name : </label>
        <span class='help-block col-form-label' *ngIf='!persianCompanyName.valid && persianCompanyName.touched && !persianCompanyName.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Persian Company Name' 
                    [ngClass]="{ 'error' : !persianCompanyName.valid && persianCompanyName.touched }" 
                    class='form-control ' 
                    #persianCompanyName='ngModel' 
                    name='persianCompanyName' 
                    placeholder='... Persian Company Name' 
                    [(ngModel)]='currentInstance.persianCompanyName' 
                    [disabled]='IsLocked'
                    maxlength='800'  required  />
      </div>
			<!-- EnglishCompanyName -->
      <div class='form-group'>
        <guide (onClick)='onGuid("EnglishCompanyName")'></guide>
        <label for='englishCompanyName' class='col-form-label'>English Company Name : </label>
        <span class='help-block col-form-label' *ngIf='!englishCompanyName.valid && englishCompanyName.touched && !englishCompanyName.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='English Company Name' 
                    [ngClass]="{ 'error' : !englishCompanyName.valid && englishCompanyName.touched }" 
                    class='form-control ' 
                    #englishCompanyName='ngModel' 
                    name='englishCompanyName' 
                    placeholder='... English Company Name' 
                    [(ngModel)]='currentInstance.englishCompanyName' 
                    [disabled]='IsLocked'
                    maxlength='400'  dir='ltr'  required  />
      </div>
			<!-- PersianPositionName -->
      <div class='form-group'>
        <guide (onClick)='onGuid("PersianPositionName")'></guide>
        <label for='persianPositionName' class='col-form-label'>Persian Position Name : </label>
        <span class='help-block col-form-label' *ngIf='!persianPositionName.valid && persianPositionName.touched && !persianPositionName.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Persian Position Name' 
                    [ngClass]="{ 'error' : !persianPositionName.valid && persianPositionName.touched }" 
                    class='form-control ' 
                    #persianPositionName='ngModel' 
                    name='persianPositionName' 
                    placeholder='... Persian Position Name' 
                    [(ngModel)]='currentInstance.persianPositionName' 
                    [disabled]='IsLocked'
                    maxlength='400'  required  />
      </div>
			<!-- EnglishPositionName -->
      <div class='form-group'>
        <guide (onClick)='onGuid("EnglishPositionName")'></guide>
        <label for='englishPositionName' class='col-form-label'>English Position Name : </label>
        <span class='help-block col-form-label' *ngIf='!englishPositionName.valid && englishPositionName.touched && !englishPositionName.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='English Position Name' 
                    [ngClass]="{ 'error' : !englishPositionName.valid && englishPositionName.touched }" 
                    class='form-control ' 
                    #englishPositionName='ngModel' 
                    name='englishPositionName' 
                    placeholder='... English Position Name' 
                    [(ngModel)]='currentInstance.englishPositionName' 
                    [disabled]='IsLocked'
                    maxlength='200'  dir='ltr'  required  />
      </div>
			<!-- FromDate -->
      <div class='form-group'>
        <guide (onClick)='onGuid("FromDate")'></guide>
        <label for='fromDate' class='col-form-label'>From Date : </label>
        <span class='help-block col-form-label' *ngIf='!fromDate.valid && fromDate.touched && !fromDate.disabled'>( Value is not Valid! )</span>
        <input type='date' 
                    title=From Date 
                    [ngClass]="{ 'error' : !fromDate.valid && fromDate.touched }" 
                    class='form-control' 
                    #fromDate='ngModel' 
                    name='fromDate'
                    [ngModel]="currentInstance.fromDate | date:'yyyy-MM-dd'"
                    (ngModelChange)='currentInstance.fromDate = $event'
                    [disabled]='IsLocked'
                     required >
      </div>
			<!-- ToDate -->
      <div class='form-group'>
        <guide (onClick)='onGuid("ToDate")'></guide>
        <label for='toDate' class='col-form-label'>To Date : </label>
        <span class='help-block col-form-label' *ngIf='!toDate.valid && toDate.touched && !toDate.disabled'>( Value is not Valid! )</span>
        <input type='date' 
                    title=To Date 
                    [ngClass]="{ 'error' : !toDate.valid && toDate.touched }" 
                    class='form-control' 
                    #toDate='ngModel' 
                    name='toDate'
                    [ngModel]="currentInstance.toDate | date:'yyyy-MM-dd'"
                    (ngModelChange)='currentInstance.toDate = $event'
                    [disabled]='IsLocked'
                     required >
      </div>
			
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!workExperienceEditUI.valid || IsLocked' >Save & Close</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!workExperienceEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, workExperienceEditUI, true)'>Save</button>
      <button id='cancel-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancel</button>
    </div>
  </form>
</XDialog>

<hr-person-edit #personEditUI 
    (onClosed)='personComponent.onClosed($event)'>
</hr-person-edit>