<XDialog Header='Search form of Person Certificate' 
  [IsShown]='IsShown'
  (OnClosed)='cancelButton_Clicked()'>
  <div>
    <!--
          <div class='form-group row'>
            <label for='person' class='col-sm-3 col-form-label'>Person : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #person='ngModel' 
                    #personCombo='kendoDropDownList' 
                    name='person' 
                    title='Person'
                    class='form-control'
                    [ngClass]="{ 'error' : !person.valid && person.touched }" 
                    [data]='personComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='personComponent.filterable'
                    (filterChange)='personComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.person"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='personComponent.addable'>
                      <button class='btn btn-primary' (click)='personComponent.onAdd(personCombo, personEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='fieldCategory' class='col-sm-3 col-form-label'>Field Category : </label>
            <div class='col-sm-9'>
              <kendo-dropdownlist #fieldCategory='ngModel' 
                    #fieldCategoryCombo='kendoDropDownList' 
                    name='fieldCategory' 
                    title='Field Category'
                    class='form-control'
                    [ngClass]="{ 'error' : !fieldCategory.valid && fieldCategory.touched }" 
                    [data]='fieldCategoryComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='fieldCategoryComponent.filterable'
                    (filterChange)='fieldCategoryComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.fieldCategory"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='fieldCategoryComponent.addable'>
                      <button class='btn btn-primary' (click)='fieldCategoryComponent.onAdd(fieldCategoryCombo, fieldCategoryEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
            </div>
          </div>
          <div class='form-group row'>
            <label for='title' class='col-sm-3 col-form-label'>Title : </label>
            <div class='col-sm-9'>
              <input class='form-control' #title='ngModel' id='title' name='title'
										 title='Title'
										 autocomplete='off'
										 placeholder='Title'
										[(ngModel)]='personCertificate.title'
										 type='text'
										 maxlength='400'
										 />
            </div>
          </div>
          <div class='form-group row'>
            <label for='comment' class='col-sm-3 col-form-label'>Comment : </label>
            <div class='col-sm-9'>
              <input class='form-control' #comment='ngModel' id='comment' name='comment'
										 title='Comment'
										 autocomplete='off'
										 placeholder='Comment'
										[(ngModel)]='personCertificate.comment'
										 type='text'
										 maxlength='2000'
										 />
            </div>
          </div>-->
  </div>
  <div class='modal-footer'>
    <button type='button' class='btn btn-secondary' (click)='cancelButton_Clicked()'>Cancel</button>
    <button type='button' class='btn btn-primary' (click)='seekButton_Clicked()'>Search</button>
  </div>
</XDialog>