<XDialog Header='Edit Form of BehavioralObjective' 
  [IsShown]='IsShown'
  (OnClosed)='onClose()'
  [ModalType]='1' >
  <form (ngSubmit)='onSave(currentInstance, behavioralObjectiveEditUI)' 
    #behavioralObjectiveEditUI='ngForm'
    autocomplete='off'>
    <div class='form-margin'>
      <!-- TargetSetting -->
      <div class='form-group'>
        <guide (onClick)='onGuid("TargetSetting_Id")'></guide>
        <label for='targetSetting' class='col-form-label'>TargetSetting : </label>
        <span class='help-block col-form-label' *ngIf='!targetSetting.valid && targetSetting.touched && !targetSetting.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #targetSetting='ngModel' 
                    #targetSettingCombo='kendoDropDownList' 
                    name='targetSetting' 
                    title='TargetSetting_Id'
                    class='form-control'
                    [ngClass]="{ 'error' : !targetSetting.valid && targetSetting.touched }" 
                    [data]='targetSettingComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='targetSettingComponent.filterable'
                    (filterChange)='targetSettingComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.targetSetting"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='targetSettingComponent.addable'>
                      <button class='btn btn-primary' (click)='targetSettingComponent.onAdd(targetSettingCombo, targetSettingEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- CompetencyItem -->
      <div class='form-group'>
        <guide (onClick)='onGuid("CompetencyItem_Id")'></guide>
        <label for='competencyItem' class='col-form-label'>CompetencyItem : </label>
        <span class='help-block col-form-label' *ngIf='!competencyItem.valid && competencyItem.touched && !competencyItem.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #competencyItem='ngModel' 
                    #competencyItemCombo='kendoDropDownList' 
                    name='competencyItem' 
                    title='CompetencyItem_Id'
                    class='form-control'
                    [ngClass]="{ 'error' : !competencyItem.valid && competencyItem.touched }" 
                    [data]='competencyItemComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='competencyItemComponent.filterable'
                    (filterChange)='competencyItemComponent.DoFilter($event)'
                    (valueChange)='updateText()' 
                    [(ngModel)]="currentInstance.competencyItem"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='competencyItemComponent.addable'>
                      <button class='btn btn-primary' (click)='competencyItemComponent.onAdd(competencyItemCombo, competencyItemEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- Title -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Title")'></guide>
        <label for='title' class='col-form-label'>Title : </label>
        <span class='help-block col-form-label' *ngIf='!title.valid && title.touched && !title.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Title' 
                    [ngClass]="{ 'error' : !title.valid && title.touched }" 
                    class='form-control ' 
                    #title='ngModel' 
                    name='title' 
                    placeholder='... Title' 
                    [(ngModel)]='currentInstance.title' 
                    [disabled]='IsLocked || currentInstance.competencyItem.isActive == true'
                    maxlength='400'  required  />
      </div>
			<!-- ExpectedLevel -->
      <div class='form-group'>
        <guide (onClick)='onGuid("ExpectedLevel_Id")'></guide>
        <label for='expectedLevel' class='col-form-label'>ExpectedLevel_Id : </label>
        <span class='help-block col-form-label' *ngIf='!expectedLevel.valid && expectedLevel.touched && !expectedLevel.disabled'>( Value is not Valid! )</span>
        <kendo-dropdownlist #expectedLevel='ngModel' 
                    #expectedLevelCombo='kendoDropDownList' 
                    name='expectedLevel' 
                    title='ExpectedLevel_Id'
                    class='form-control'
                    [ngClass]="{ 'error' : !expectedLevel.valid && expectedLevel.touched }" 
                    [data]='expectedLevelComponent.list'
                    [textField]="'descriptor'"
                    [valueField]="'id'" 
                    [filterable]='expectedLevelComponent.filterable'
                    (filterChange)='expectedLevelComponent.DoFilter($event)'
                    [(ngModel)]="currentInstance.expectedLevel"
                     required 
                    [disabled]='IsLocked'>
                    <ng-template kendoDropDownListFooterTemplate *ngIf='expectedLevelComponent.addable'>
                      <button class='btn btn-primary' (click)='expectedLevelComponent.onAdd(expectedLevelCombo, expectedLevelEditUI)'>Add New</button>
                    </ng-template>
                </kendo-dropdownlist>
      </div>
			<!-- Weight -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Weight")'></guide>
        <label for='weight' class='col-form-label'>Weight : </label>
        <span class='help-block col-form-label' *ngIf='!weight.valid && weight.touched && !weight.disabled'>( Value is not Valid! )</span>
        
        <kendo-numerictextbox #weight='ngModel' 
            name='weight' 
            title='Weight' 
            placeholder='Weight'
            class='form-control'
            [ngClass]="{ 'error' : !weight.valid && weight.touched }" 
            [value]='currentInstance.weight' 
            [min]='0' [max]='100' 
            [(ngModel)]='currentInstance.weight'
            [format]="'n2'" 
            [decimals]='2'
            [spinners]='false'
            [disabled]='IsLocked'
             required ></kendo-numerictextbox>
      </div>
			<!-- totalKPIWeight -->
			<!-- Description -->
      <div class='form-group'>
        <guide (onClick)='onGuid("Description")'></guide>
        <label for='description' class='col-form-label'>Description : </label>
        <span class='help-block col-form-label' *ngIf='!description.valid && description.touched && !description.disabled'>( Value is not Valid! )</span>
        <input type='text' 
                    title='Description' 
                    [ngClass]="{ 'error' : !description.valid && description.touched }" 
                    class='form-control ' 
                    #description='ngModel' 
                    name='description' 
                    placeholder='... Description' 
                    [(ngModel)]='currentInstance.description' 
                    [disabled]='IsLocked'
                    maxlength='800'  />
      </div>
			<!-- FinalScore -->
    </div>
    <div class='modal-footer'>
      <button id='add-button' 
            type='submit'
            class='xbtn btn-add modal-footer-button' 
            [disabled]='!behavioralObjectiveEditUI.valid || IsLocked' >Save & Close</button>
      <button id='add-continue-button'
            type='button' 
            class='xbtn btn-refresh modal-footer-button' 
            [disabled]='!behavioralObjectiveEditUI.valid || IsLocked' 
            [hidden]='IsEditMode' 
            (click)='onSave(currentInstance, behavioralObjectiveEditUI, true)'>Save</button>
      <button id='cancle-button'
            class='xbtn btn-delete modal-footer-button' 
            [disabled]='IsLocked'
            (click)='onClose()'>Cancle</button>
    </div>
  </form>
</XDialog>

<pms-targetSetting-edit #targetSettingEditUI 
    (onClosed)='targetSettingComponent.onClosed($event)'>
</pms-targetSetting-edit>
<pms-competencyItem-edit #competencyItemEditUI 
    (onClosed)='competencyItemComponent.onClosed($event)'>
</pms-competencyItem-edit>
<base-pms-expectedLevel-edit #expectedLevelEditUI 
    (onClosed)='expectedLevelComponent.onClosed($event)'>
</base-pms-expectedLevel-edit>